<div class="zone t -center">
    <h1 class="subtitle"><i class="fa fa-heart-broken"></i> Error <%= params[:code] %></h1>
    <% if params[:code].to_i < 500 %>
        <p>It seems an error occured and we are unable to process your request.</p>
    <% else %>
        <p>It seems an error has occured on our end and we are unable to process your request.</p>
    <% end %>
</div>
