<%= form_for @post, as: "post", url: report_post_path(@post.number), html: {class: "zone report_form field_area", id: 'report_post'} do |post| %>
    <%= post.check_box :report, class: "hide", checked: true, hidden: true %>
    <h4 class="title color-red"><i class="fa fa-exclamation-circle"></i> Report post</h4>
    <%= post.text_area :report_reason, class: "form-textarea", placeholder: "Reason" %>
    <div class="button-list button-list-right">
        <button type="submit" form="report_post" class="button-primary background-red" type="submit">Report <i class="fa fa-exclamation"></i></button>
    </div>
<% end %>
