<div class="zone post-show-score padding padding-0" data-controller="post-score">
    <div class="post-show-score-bars">
        <div class="post-show-bar overdose" data-score="<%= @post.overdose %>" data-target="post-score.overdoseBar">
            <span class="overdose-score" data-target="post-score.overdoseScore"><%= @post.overdose %></span>
        </div>
        <div class="post-show-bar shortage" data-score="<%= @post.moe_shortage %>" data-target="post-score.shortageBar">
            <span class="shortage-score" data-target="post-score.shortageScore"><%= @post.moe_shortage %></span>
        </div>
    </div>
    <div class="post-show-score-buttons">
        <button class="button-important button-primary button-icon-left" data-action="click->post-score#overdose"><i class="fa fa-heart"></i> overdose</button>
        <button class="button-important button-shortage" data-action="click->post-score#shortage">shortage <i class="fa fa-thumbs-down"></i></button>
    </div>
</div>
