<div class="wiki">
    <div class="zone col-12">
        <h4 class="title">
            <%= component "anchor", {anchor: "posts"} do %>
                Posts
            <% end %>
        </h4>
        <nav>
            <a class="wiki-link" href="/wiki/search">Search posts</a>
            <a class="wiki-link" href="/wiki/upload">How to upload</a>
            <a class="wiki-link" href="/wiki/tags">Tags</a>
            <a class="wiki-link" href="/wiki/rules">Upload Rules</a>
            <a class="wiki-link" href="/wiki/editing">Editing posts</a>
            <a class="wiki-link" href="/wiki/copyright">Copyright Requests</a>
        </nav>
    </div>
    <div class="zone col-12">
        <h4 class="title">
            <%= component "anchor", {anchor: "users"} do %>
                Users
            <% end %>
        </h4>
        <nav>
            <a class="wiki-link" href="/wiki/register">Registration</a>
            <a class="wiki-link" href="/wiki/options">Options</a>
        </nav>
    </div>
    <div class="zone col-12">
        <h4 class="title">
            <%= component "anchor", {anchor: "tips"} do %>
                Tips
            <% end %>
        </h4>
        <nav>
            <a class="wiki-link" href="/wiki/keyboard">Keyboard shortcuts</a>
        </nav>
    </div>
    <div class="zone col-12">
        <h4 class="title">
            <%= component "anchor", {anchor: "chat"} do %>
                Chat
            <% end %>
        </h4>
        <nav>
            <a class="wiki-link" href="/wiki/chat">Join chat</a>
            <a class="wiki-link" href="/wiki/bot">Bot help</a>
        </nav>
    </div>
</div>
