<span id="<%= anchor %>" class="anchor" data-controller="anchor" data-target="anchor.name" data-name="<%= anchor %>">
    <%= yield %>
    <a href="#<%= anchor %>" class="link" data-action="click->anchor#copy">
        <i class="fa fa-link"></i>
    </a>
</span>
