<h3>A takedown notice has been submitted against one of your uploaded post.</h3>
<p>You can accept or dismiss the request at the following link:</p>

<%= link_to "Manage the takedown", claim_url(@claim) %>

<p>The post will stay hidden from the public as long as you don't dismiss the takedown notice.</p>
<p>For more informations on the procedure regarding takedown notices please <%= link_to "read this page", new_claim_url %></p>
