.comments {
    padding: 0;

    li {
        padding: 20px 10px;
    }

    .text {
        background: $white-break;
        margin-right: 20px;
        max-height: 200px;
        overflow-y: auto;
        padding: 10px 20px;
        text-align: justify;
        width: 600px;
        word-wrap: break-word;
    }
}
