@import "_colors";
@import "_variables";
@import "_extends";
/* Header Image */
$header-image: "header-img.jpg";

/* Browser Styling */
::selection {
    background: $pink_light;
    color: $white;
}

::placeholder {
    color: $gray2;
}

/* Global default custom styles */
html {
    box-sizing: border-box;
    font-size: $default-font-size;
    font-family: 'Exo 2', Arial Grande, Tahoma, Helvetica, Arial, sans-serif;
    line-height: $default-line-height;
    overflow-x: hidden;
    overflow-y: scroll;
    color: $gray4;

    @media only screen and (max-width: $xsmall) {
        font-size: $default-font-size * 0.9;
    }

    @media only screen and (min-width: $large) {
        font-size: $default-font-size * 1.05;
        line-height: $default-line-height * 1.05;
    }

    @media only screen and (min-width: $xlarge) {
        font-size: $default-font-size * 1.1;
        line-height: $default-line-height * 1.1;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

a {
    color: $pink;
    text-decoration: none;
    transition: all 70ms linear;
}

label {
    cursor: pointer;
}

dd {
    margin: 0;
}

body {
    background: $gray0;
    padding-top: 5em;
}

@media only screen and (max-width: $small) {
    body {
        padding-top: 0;
    }
}

/* Inputs */

textarea, input[type="text"] {
    border-radius: 3px;
    border: 0;
    padding: 0.5em;
    width: 100%;
}

textarea {
    min-height: 200px;
    margin-bottom: 1em;
    resize: vertical;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h2,h3,h4,h5,h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: $default-font-size * 1.5;
}

h2 {
    color: $blue;
    font-size: $default-font-size * 1.25;
}

h3 {
    color: $blue;
    font-size: $default-font-size * 1.20;
}

h4 {
    color: $blue;
    font-size: $default-font-size * 1.15;
}

h5 {
    color: $blue;
    font-size: $default-font-size * 1;
}

h6 {
    color: $blue;
    font-size: $default-font-size * 0.9;
}

.clearfix {
    @extend %clearfix;
}

.hide {
    display: none;
}
