$default: #50C;
$default_light: lighten($default, 15%);
$default_dark: darken($default, 9%);

$pink: #ef34a4;
$pink_light: lighten($pink, 20%);
$pink_dark: darken($pink, 9%);

$blue: #1AB;
$blue_light: lighten($blue, 10%);
$blue_dark: darken($blue, 9%);

$green: #3cc94a;
$green_light: lighten($green, 15%);
$green_dark: darken($green, 9%);

$yellow: #e9b32a;
$yellow_light: lighten($yellow, 15%);
$yellow_dark: darken($yellow, 9%);

$orange: #F60;
$orange_light: lighten($orange, 15%);
$orange_dark: darken($orange, 9%);

$red: #F33;
$red_light: lighten($red, 7%);
$red_dark: darken($red, 9%);

$white: #FDFDFD;
$gray0: #DFE3E8;
$gray1: #CED4DB;
$gray2: #949FA9;
$gray3: #6a7982;
$gray4: #49535e;
$gray5: #333a41;
$gray6: #282d33;
$gray7: #1d2025;
$gray8: #121417;
$gray9: #070809;
$black: #030307;

$buffer: #323b43;
$twitter: #00aced;
$facebook: #3b5998;
$reddit: #ff4500;
$tumblr: #32506d;
$discord: #7289da;
