
.btn, a.btn {
    display: inline-block;
    margin: 5px 0 4px;
    min-width: 150px;
    min-height: 34px;
    padding: 7px 13px !important;
    border-radius: 3px;
    border: 0;
    font-size: 16px;
    text-align: left !important;
    font-weight: bold;
    -webkit-transition: background-color 170ms ease-in-out;
    -moz-transition: background-color 170ms ease-in-out;
    -o-transition: background-color 170ms ease-in-out;
    transition: background-color 170ms ease-in-out;
    color: #FFF !important;
    opacity: 1 !important;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none !important;

    .fa, svg {
        float: right;
        margin: 3px 0 0px 14px;
    }

    @media only screen and (max-width: $xsmall) {
            width: 100%;
    }

    svg {
        max-height: 16px;
        max-width: 14px;
    }
}

.btn:hover {
    color: #FFF !important;
}

.btn-pink {
    background: $pink;

    &:active {
        background: darken($pink, 5%);
    }
}
.btn-blue {
    background: $blue;

    &:active {
        background: darken($blue, 5%);
    }
}

.btn-yellow {
    background: $yellow;

    &:active {
        background: darken($yellow, 5%);
    }
}

.btn-red {
    background: $red;

    &:active {
        background: darken($red, 5%);
    }
}

.btn-green {
    background: $green;

    &:active {
        background: darken($green, 5%);
    }
}

.btn-discord {
    background: $discord;

    &:active {
        background: darken($discord, 5%);
    }
}
