
.comment {
    clear: both;
    min-height: 80px;
    padding: 10px;
    position: relative;
    text-align: justify;

    &:after {
        clear: both;
        content: " ";
        display: block;
        height: 0;
    }

    .avatar {
        border-radius: 3px;
        float: left;
        left: 10px;
        position: absolute;
        top:10px;
    }

    .comment-content {
        min-height: 100%;
        padding-left: 70px;
        position: relative;

        h5 {
            display: block;
            float:left;
            margin: 0 5px 0 0;
        }

        h5:after {
            color: $gray3;
            font-size: 0.8em;
        }

        a.comment_number {
            color: $gray2;
            float: right;
            font-size: 0.8em;
            margin-left: 20px;
            position: relative;
            z-index: 1000;
        }

        a.report {
            float: right;
            color: $gray2;
            font-size: 0.8em;
        }

        p {
            display: block;
            float: left;
            hyphens: auto;
            margin: 0;
            max-width: 100%;
            padding: 5px 0;
            width: 100%;
            word-wrap: break-word;
        }

        p span {
            opacity: .6;
        }
    }

    .comment_report_overlay {
        background: $white;
        cursor: default;
        height: 100%;
        left: 0;
        padding: 15px;
        position: absolute;
        text-align: center;
        top: 0;
        transition: all 100ms linear;
        width: 100%;

        &:hover {
            opacity: 0;
        }
    }
}

.administrator {
    color: $green;

    &:after {
        content: " (administrator)"
    }
}

.moderator {
    color: $orange;

    &:after {
        content: " (moderator)"
    }
}

.contributor {
    color: $yellow;

    &:after {
        content: " (contributor)"
    }
}

.banned {
    color: $gray2;

    &:after {
        content: " (banned)"
    }
}

.comment-form {

    #char_count {
        color: $gray2;
        font-size: 0.7em;
        margin-left: 20px;
    }

    textarea {
        background: $gray0;
        box-shadow: none;
    }

    .button-zone {
        padding-top: 10px;
        border-top: 1px solid rgba(0,0,0,.1);
        text-align: right;
    }

    input[type="submit"] {
        margin: 5px;
    }
}
