.comment {
  padding: 10px 10px 10px 10px;
  clear: both;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,.1);
  max-width: 1000px;

  .comment {
    margin-left: 20px;
    box-shadow: none;
    border-bottom: none;
    border-left: 4px solid #DDD;

    .avatar {
      margin: 0 10px 0 0;
    }
  }

  &:after {
    display: block;
    content: " ";
    height: 0;
    clear: both;
  }

  .avatar {
    position: absolute;
    top:10px;
    left: 10px;
    border-radius: 3px;
    float: left;
    border: 1px solid rgba(0,0,0,.25);
  }

  .comment-content {
    padding-left: 70px;

    h5 {
      float:left;
      color: $pink;
      display: block;
      margin-bottom: 5px;
    }

    h5:after {
      font-size: 0.8em;
      color: #AAA;
    }

    span {
      margin-left: 20px;
      color: rgba(0,0,0,.5);
      font-style: italic;
    }

    p {
      float: left;
      display: block;
      width: 100%;
    }
  }
}

h5.administrator {
  color: $default !important;

  &:after {
    content: " (administrator)"
  }
}

h5.moderator {
  color: $blue !important;

  &:after {
    content: " (moderator)"
  }
}

h5.banned {
  color: #999 !important;

  &:after {
    content: " (banned)"
  }
}

h5.contributor {
  color: $pink_light !important;

  &:after {
    content: " (contributor)"
  }
}

h5.developper {
  color: $yellow_dark !important;

  &:after {
    content: " (developper)"
  }
}

.comment-form {
  margin: 10px;
  margin-bottom: 50px;

  h3 {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 0 20px 15px;
  }

  textarea {
    box-shadow: none;
  }

  .button-zone {
    border-top: 1px solid rgba(0,0,0,.1);
    text-align: right;
  }

  input[type="submit"] {
    margin: 20px 10px
  }
}
