@import "base/_variables";
@import "base/_extends";
@import "base/_colors";

.comment-form {
    #char_count {
        color: $gray2;
        font-size: 0.7em;
        margin-left: 20px;
    }

    textarea {
        background: $gray0;
        box-shadow: none;
    }

    .button-zone {
        text-align: right;
    }

    input[type="submit"] {
        margin: 5px;
    }
}
