
.comments {
    padding: 20px;
}

.comment {
    border-bottom: 1px solid #EEE;
    clear: both;
    min-height: 80px;
    padding: 10px;
    position: relative;
    text-align: justify;

    &:after {
        clear: both;
        content: " ";
        display: block;
        height: 0;
    }

    .avatar {
        border-radius: 3px;
        border: 1px solid rgba(0,0,0,.25);
        float: left;
        left: 10px;
        position: absolute;
        top:10px;
    }

    .comment-content {
        min-height: 100%;
        padding-left: 70px;
        position: relative;

        h5 {
            color: $pink;
            display: block;
            float:left;
            margin: 0 5px 0 0;
        }

        h5:after {
            color: #DDD;
            font-size: 0.8em;
        }

        a.comment_number {
            color: #AAA;
            float: right;
            font-size: 0.8em;
            margin-left: 20px;
            position: relative;
            z-index: 1000;
        }

        a.report {
            color: #AAA;
        }

        p {
            display: block;
            float: left;
            hyphens: auto;
            margin: 0;
            max-width: 100%;
            padding: 5px 0;
            width: 100%;
            word-wrap: break-word;
        }

        p span {
            opacity: .6;
        }
    }

    .comment_report_overlay {
        background: #FFF;
        cursor: default;
        height: 100%;
        left: 0;
        padding: 15px;
        position: absolute;
        text-align: center;
        top: 0;
        transition: all 100ms linear;
        width: 100%;

        &:hover {
            opacity: 0;
        }
    }
}

h5.administrator {
    color: $blue !important;

    &:after {
        content: " (administrator)"
    }
}

h5.moderator {
    color: $blue !important;

    &:after {
        content: " (moderator)"
    }
}

h5.contributor {
    color: $yellow !important;

    &:after {
        content: " (contributor)"
    }
}

h5.developper {
    color: $orange !important;

    &:after {
        content: " (developper)"
    }
}

h5.banned {
    color: #999 !important;

    &:after {
        content: " (banned)"
    }
}

.comment-form {
    h3 {
        display: inline-block;
        margin: 0;
        padding: 10px;
    }

    #char_count {
        color: #AAA;
        font-size: 0.7em;
        font-weight: 900;
        margin-left: 20px;
    }

    textarea {
        box-shadow: none;
    }

    .button-zone {
        border-top: 1px solid rgba(0,0,0,.1);
        text-align: center;
    }

    input[type="submit"] {
        margin: 5px;
    }
}
