.field {
    position: relative;
    height: 45px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 3px solid transparent;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.field , .field_area {
    margin-bottom: 15px;
    min-width: 300px;
    position: relative;

    input[type="text"], input[type="email"], input[type="password"], textarea {
        background: none;
        box-shadow: none;
        color: #FFF;
        background: rgba(0,0,0,.7);
        border-radius: 3px;
        border: 3px solid transparent;
        padding: 10px;
        width: 100%;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        padding-left: 160px;
        position: absolute;
        top: 0;
        left: 0;
    }

    input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
        border: 3px solid $blue;
    }

    p {
        font-weight: 900;
        color: #FFF;
        margin-bottom: 10px;
    }

    span {
        position: absolute;
        z-index: 1;
        padding: 12px 0;
        display: inline-block;
        width: 150px;
        font-weight: 900;
        text-align: right;
        color: #FFF;
        pointer-events: none;

        i {
            float: left;
            padding: 3px 0 0 10px;
        }
    }
}
