.flashes {
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    margin: 0 auto 20px;
    text-align: center;

    .alert {
        border-bottom: 1px solid #DDD;
        font-weight: bold;
        padding: 10px 15px;
    }

    .alert-success {
        color: $green;
    }

    .alert-error {
        color: $red;
    }

    .alert-info {
        color: $blue;
    }

    .alert-warning {
        color: $orange;
    }
}
