footer {
    padding: 50px 0;
    background: #213;
    color: #AAA;
    text-align: center;
    width: 100%;

    a:hover {
        color: #FFF;
    }

    & > p {
        text-align: center;
    }

    .footer-title {
        border-bottom: 1px solid rgba(255,255,255,0.1);
        padding: 10px;
        font-size: 1em;
    }

    ul {
        display: inline-block;

        li a {
            display: block;
            font-style: italic;
            font-weight: bold;
            padding: 5px;
        }

        li a:hover {
            background: rgba(0,0,0,.25);
        }
    }

    .copyright {
        text-align: center;
    }
}
