.key {
    background: $background;
    border-radius: 3px;
    border: 1px solid $gray-white;
    box-shadow: 0 1px $gray-white;
    color: $gray-dark;
    display: inline-block;
    margin: 5px;
    padding: 2px 8px;
}
