.key {
    background: $white;
    border-radius: 3px;
    border: 1px solid $gray2;
    box-shadow: 0 1px $gray2;
    color: $gray5;
    display: inline-block;
    margin: 5px;
    padding: 2px 8px;
}
