.list {
    ul {
        margin: 0
    }

    li {
        background: #FFF;
        box-shadow: 0 1px 3px rgba(0,0,0,.25);
        display: block;
        height: 54px;
        margin: 6px 0;
        overflow: hidden;
        padding: 0;

        .title, .count {
            background: #DDD;
            float: left;
            height: 54px;
            padding: 18px 16px;
        }

        .count {
            float: right;
        }

        .title.character h5 {
            color: $blue;
        }

        .title.author h5 {
            color: $green;
        }

        span {
            border-left: 1px solid #DDD;
            display: inline-block;
            float: left;
            height: 54px;
            max-width: 150px;
            overflow: hidden;
            padding: 18px 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        h5 {
            display: inline-block;
            margin: 0;
        }

    }
}
