nav.menu {
  background-image: linear-gradient(rgba($default, 0), rgba($default, 0.85)), image_url("header.png");
  box-shadow: 0 0 0 200px rgba($default, 0.75) inset;
  color: #FFF;
  text-shadow: 0 1px 2px #000;

  .container {
    h1 {
      padding-left: 10px;
      color: #FFF;
    }
  }

  ul {
    padding-left: 0;

    li {
      display: inline-block;

      a {
        padding: 5px 10px;
        text-align: center;
        border-radius: 3px;
      	-webkit-transition:all 100ms linear;
      	-moz-transition:all 100ms linear;
      	-o-transition:all 100ms linear;
      	transition:all 100ms linear;

        &:hover {
          background: rgba(0,0,0,.25);
        }

        &:active {
          background: rgba(0,0,0,.55);
        }
      }
    }
  }
}
