nav.menu {
    background: $gray-dark;
    box-shadow: 0 -3px 6px 5px rgba($black, .35);
    color: $white;
    height: 96px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20000;

    .container {
        background: $gray-dark;
        height: 96px;
        padding: 10px 0 0 0;
        position: relative;
        z-index: 5000;

        h1 {
            color: $white;
            display: inline-block;
            padding-left: 10px;
        }

        span {
            font-weight: bold;
            margin-left: 20px;
            padding: 10px;
        }

        @media only screen and (max-width: $small) {
            .user .avatar, .user img {
                width: 46px;
                height: 46px;
            }

            .user a.avatar {
                margin: 0 !important;
            }

            .user img {
                width: 40px;
                height: 40px;
            }

            #username {
                display: none;
            }
        }

        .user {
            float: right;

            #username {
                font-weight: normal;
                font-size: 1.1em;
                text-transform: capitalize;
                margin-top: 40px;
            }

            a {
                color: $white;
                display: inline-block;
                margin: 0 0 8px 0;
            }

            span {
                float: right;
            }

            a.avatar {
                border-radius: 6px;
                border: 3px solid rgba(0,0,0,0);
                float: right;
                overflow: hidden;
                padding: 0;
                margin: 5px 10px;

                img {
                    float: left;
                }
            }

            a.avatar:hover {
                border-color: $blue;
                border-radius: 3px;
            }
        }
    }

    @media only screen and (max-width: $small) {
        height: 65px;

        .container {
            height: 65px;
        }

        #random {
            display: none;
        }

        h1 {
            line-height: 45px;
            font-size: 1.2em;
            margin: 0;
        }
    }

    #menu_label {
        display: none;
        border-radius: 3px;
        color: $white;
        background: rgba($white, 0.5);
        font-size: 24px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        float: right;
        margin: 3px 10px;
    }

    @media only screen and (max-width: $small) {
        a#menu_label {
            display: inline-block;
        }
    }

    ul {
        display: block;
        margin-bottom: 10px;
        padding: 10px 0;

        li {
            display: inline-block;

            a {
                color: $white-break;
                padding: 5px 10px;
                text-align: center;
                transition:all 100ms linear;
                font-weight: 500;
            }

            @media only screen and (max-width: $small) {
                a {
                    display: none;
                }
            }

            i {
                margin-right: 10px;
            }

        }
    }


    a:hover {
        color: $white;
    }
}
