@keyframes opacity {
    0% {opacity: 0;}
    8% {opacity: 1;} // Appeared
    92% {opacity: 1;}
    100% {opacity: 0;} // Dissapear
}

.notifications {
    bottom: 0;
    margin: auto;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 150;

    .notifications_container {
        color: $white;
        float: right;
        max-height: calc( 100vh - 96px);
        max-width: 600px;
        width: 100%;
        overflow-y: auto;
        padding: 4px 20px;
        pointer-events: all;
    }

    .notification {
        animation-duration: 6s;
        animation-name: opacity;
        border-radius: 3px;
        box-shadow: 0 3px 10px rgba(0,0,0,.5);
        margin-bottom: 10px;
        padding: 14px 10px;
        width: 100%;

        h5, p {
            color: $white;
            margin: 0;
        }

        i {
            cursor: pointer;
            float: right;
        }

        & {
            background: $blue;
        }

        &.success {
            background: $green;
        }

        &.warning {
            background: $orange;
        }

        &.error {
            background: $red;
        }
    }
}
