.general_pagination {
    background: $gray-black;
    color: $white;
    margin: 0;
    padding: 10px;
    text-align: center;

    div {
        font-size: 0.8em;
        font-weight: bold;
        padding: 7px 5px;

        input[type="radio"] {
            display: none;

            &:checked + label {
                color: $pink;
            }
        }

        input[type="submit"] {
            background: none;
            border: none;
            color: $white;
        }
    }

    .pagination {
        background: $white;
        border-radius: 3px;
        display: inline-block;
        overflow: hidden;

        span {
            display: inline-block;
            float: left;
            font-weight: bold;
            height: 39px;
            text-align: center;
        }

        span.current {
            background: $pink;
            color: $white;
            padding: 10px 17px;
        }

        span a {
            color: $gray;
            display: inline-block;
            padding: 10px 17px;
            width: 100%;

            &:hover {

            }
        }
    }
}
