.post_pagination {
    background: #000;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #FFF;

    div {
        padding: 7px 5px;
        font-size: 12px;
        font-weight: bold;

        input[type="radio"] {
            display: none;

            &:checked + label {
                color: $pink;
            }
        }

        input[type="submit"] {
            background: none;
            border: none;
            color: #FFF;
        }
    }

    .pagination {
        background: #FFF;
        display: inline-block;
        border-radius: 3px;
        overflow: hidden;

        span {
            display: inline-block;
            font-weight: bold;
            text-align: center;
            height: 39px;
            float: left;
        }

        span.current {
            padding: 10px 17px;
            color: #FFF;
            background: $pink;
        }

        span a {
            display: inline-block;
            padding: 10px 17px;
            width: 100%;
            color: #444;

            &:hover {

            }
        }
    }
}
