.user_pagination {

    li:nth-child(2) button {
        border-radius: 0 3px 3px 0;
        margin-right: 5px;
    }

    li:nth-child(3) button {
        border-radius: 3px 0 0 3px;
        margin-left: 5px;
    }
}

.post_pagination {
    background: #000;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 0;
    color: #FFF;

    div {
        padding: 7px 5px;
        font-size: 12px;
        font-weight: bold;

        input[type="radio"] {
            display: none;

            &:checked + label {
                color: $pink;
            }
        }

        input[type="submit"] {
            background: none;
            border: none;
            color: #FFF;
        }
    }

    p {
        font-size: 12px;
        margin: 0;
    }

    li {
        display: inline-block;
    }

    .number {
        display: inline-block;
        height: 40px;
        min-width: 40px;
        cursor: pointer;
        padding: 4px;
        font-size: 20px;
        background: #FFF;
        color: #555;
        font-weight: 900;
        border: none;
        border-right: 2px solid #F6F6F6;
    }

    li:first-child .number {
        border-radius: 3px 0 0 3px;
    }

    li:last-child .number {
        border-radius: 0 3px 3px 0;
        border-right: none;
    }

    .number:hover {
        color: $pink;
    }

    .number.current {
        background: $pink;
        color: #FFF;
    }
}
