.reported_input {
    display: none;
}

.reported_input:checked + form {
    display: block;
}

.reported_input:checked + div {
    display: none;
}

.report_form {
    display: none;
    padding: 20px;

    h2 {
        color: $red;
    }
}
