.post-thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    height: 200px;
    overflow: hidden;
    position: relative;
    transition: opacity 100ms ease-in-out;
    width: 200px;

    .informations {
        background-image: linear-gradient(rgba(0,0,0,.25) 0%, $gray-black 130%);
        color: $white;
        height: 100%;
        left: 0;
        opacity: 0;
        padding: 140px 0 10px 10px;
        position: absolute;
        text-align: left;
        top: 0;
        transition:all 100ms linear;
        width: 100%;

        .post-stats {
            font-size: 0.8em;
            font-weight: bold;
        }

        h3  {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $white;
            width: 180px;
        }

        &:hover {
            opacity: 1;
        }
    }

    &:focus {
        outline: none;

        .informations {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: $large) {
    .post-thumbnail {
        height: 16.666vw;
        width: 16.666%;
    }
}

@media only screen and (max-width: $normal) {
    .post-thumbnail {
        height: 20vw;
        width: 20%;
    }
}

@media only screen and (max-width: $small) {
    .post-thumbnail {
        height: 25vw;
        width: 25%;

        .informations {
            display: none;
        }
    }
}

@media only screen and (max-width: $xsmall) {
    .post-thumbnail {
        height: 33.333vw;
        width: 33.333%;
    }
}
