.search-form {
    background: #000;
    margin: 20px 0 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);

    &.search-home {
        margin: 0 0 15px;

        input[type=text] {
            width: calc(100% - 46px);
        }
    }

    input[type=text] {
        background: #000;
        color: #FFF;
        float: left;
        padding: 14px 14px 17px;
        width: calc(100% - 92px);
        border-radius: 0;
        height: 49px;
        border: 0;
        border-bottom: 3px solid #888;
        -webkit-transition: all 170ms ease-in-out;
        -moz-transition: all 170ms ease-in-out;
        -o-transition: all 170ms ease-in-out;
        transition: all 170ms ease-in-out;
    }

    input[type=text]:focus {
        border-color: $pink;
        background: #222;
        outline: none;
    }

    button, label {
        background: none;
        border: none;
        color: #FFF;
        display: inline-block;
        float: left;
        line-height: 49px;
        max-height: 49px;
        width: 46px;
        text-align: center;
        -webkit-transition: all 170ms ease-in-out;
        -moz-transition: all 170ms ease-in-out;
        -o-transition: all 170ms ease-in-out;
        transition: all 170ms ease-in-out;
        border-bottom: 3px solid #888;
    }

    button:hover, label:hover {
        border-color: $pink;
        background: #222;
        cursor: pointer;
    }

    i {
        -webkit-transition: all 170ms ease-in-out;
        -moz-transition: all 170ms ease-in-out;
        -o-transition: all 170ms ease-in-out;
        transition: all 170ms ease-in-out;
    }

    button {
        line-height: 46px;
    }

    .tag_list {
        background: #222;
        float: left;
        height: 0;
        overflow-y: scroll;
        width: 100%;
        -webkit-transition: all 170ms ease-in-out;
        -moz-transition: all 170ms ease-in-out;
        -o-transition: all 170ms ease-in-out;
        transition: all 170ms ease-in-out;
    }

    #advanced_search {
        display: none;

        &:checked + label i {
            transform: rotate(90deg);
        }

        &:checked + label + .tag_list {
            height: 300px;
        }
    }
}
