.search-form {
    background: $gray;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);

    &.search-home {
        margin: 0 0 15px;

        input[type=text] {
            width: calc(100% - 46px);
        }
    }

    input[type=text] {
        background: none;
        border: 0;
        border-bottom: 3px solid $gray;
        box-shadow: none;
        border-radius: 0;
        color: #FFF;
        font-weight: bold;
        float: left;
        height: 49px;
        padding: 20px 14px 17px;
        transition: all 170ms ease-in-out;
        width: calc(100% - 92px);
    }

    input[type=text]:focus {
        background: mix($gray, #000, 90%);
        border-color: $pink;
        outline: none;
    }

    button, label {
        background: none;
        border: none;
        border-bottom: 3px solid $gray;
        color: #FFF;
        display: inline-block;
        float: left;
        line-height: 49px;
        max-height: 49px;
        text-align: center;
        transition: all 170ms ease-in-out;
        width: 46px;
    }

    button:hover, label:hover {
        background: $gray-dark;
        border-color: $pink;
        cursor: pointer;
    }

    i {
        transition: all 170ms ease-in-out;
    }

    button {
        line-height: 46px;
    }

    .tag_list {
        background: $gray-dark;
        float: left;
        height: 0;
        overflow-y: scroll;
        transition: all 170ms ease-in-out;
        width: 100%;
    }

    #advanced_search {
        display: none;

        &:checked + label i {
            transform: rotate(90deg);
        }

        &:checked + label + .tag_list {
            height: 300px;
        }
    }
}
