
.btn-social {
    border-radius: 3px;
    color: #FFF !important;
    float: left;
    height: 35px;
    line-height: 20px;
    margin: 5px;
    min-width: auto;
    padding: 7px;
    text-align: center;
    width: 35px;

    .fa, svg {
        float: none;
        margin-left: 0;
    }

    svg {
        margin: 3px 0 0 1px;
    }
}

.btn-buffer {
    background: $buffer;

    &:active {
        background: darken($buffer, 5%);
    }
}

.btn-twitter {
    background: $twitter;

    &:active {
        background: darken($twitter, 5%);
    }
}

.btn-facebook {
    background: $facebook;

    &:active {
        background: darken($facebook, 5%);
    }
}

.btn-reddit {
    background: $reddit;

    &:active {
        background: darken($reddit, 5%);
    }
}

.btn-tumblr {
    background: $tumblr;

    &:active {
        background: darken($tumblr, 5%);
    }
}
