span.spoiler {
    background: #000;
    border-radius: 3px;
    border: 2px solid #000;
    color: #000;
    display: inline-block;
    margin: 10px 0;
    min-width: 75px;
    padding: 5px;
    position: relative;

    a {
        color: #000;
    }

    &::after {
        color: #FFF;
        content: "spoiler";
        left: 5px;
        position: absolute;
        top: 5px;
    }

    &:hover {
        background: #FFF;

        a {
            color: $pink;
        }

        &::after {
            visibility: hidden;
        }
    }
}
