.spoiler-toggle {
    border-radius: 3px;
    background: $background;
    display: block;
    padding: 5px;

    input {
        display: none;
    }
}

.spoiler-toggle input:checked + .spoiler {
    display: block;
}

span.spoiler {
    display: none;
}
