nav.menu .submenu {
    background: #000;
    box-shadow: 0 4px 0 $yellow;
    height: 240px;
    overflow: hidden;
    padding-left: 25px;
    position: absolute;
    text-shadow: none;
    top: -144px;
    transition:all 200ms ease-in-out;
    visibility: visible;
    width: 100%;
    z-index: 200;

    a {
        color: #FFF;
    }

    ul {
        border-top: 4px solid rgba(0,0,0,.0);
        float: left;
        height: 240px;
        margin-right: 25px;
        margin: 0;
        min-width: 140px;
        overflow-y: hidden;
        padding-top: 10px;
        top: 0;
        transition:all 100ms linear;

        h3 {
            font-size: 1em;
            font-style: normal;
            padding-left: 9px;
        }

        h3 a {
            color: $pink;
            font-weight: 900;

            &:before {
                content: "";
            }
        }
    }

    ul.login {
        padding: 10px;
        position: absolute;
        right: 0;
        width: 300px;

        h3 {
            padding: 0;
        }

        p {
            color: #AAA;
        }

        input[type="email"], input[type="password"] {
            background: #222;
            border-radius: 3px;
            border: 0;
            color: #AAA;
            margin-bottom: 5px;
            padding: 8px;
            width: 100%;
        }

        input[type="email"]:invalid, input[type="password"]:invalid {
            border: none;
            box-shadow: none;
        }

        .btn {
            position: absolute;
            right: 20px;
            top: 175px;
        }

        a {
            display: block;
            text-align: center;
        }

        a:before {
            content: "";
        }
    }

    ul.my-account, ul.login {
        background: #333;
        float: right;
        margin-right: 0;
        padding: 10px 20px;

        h3, h3 a, a:hover, a:hover:before {
            color: $blue,
        }

        h3 {
            margin-bottom: 10px;
        }

        &:hover {
            border-top: 4px solid $blue;
        }
    }


    ul.register {
        background: #222;
        padding: 10px 20px;
        right: 299px;
    }

    ul.login:hover {
        border-top: 4px solid transparent;
    }

    ul:hover {
        border-top: 4px solid $pink;
    }

    li {
        display: block;
    }

    a {
        display: block;
        font-weight: bold;
        padding: 4px;
        text-align: left;
    }

    a:before {
        color: rgba($pink,0);
        content: "› ";
        transition: all 70ms linear;
    }

    a:hover, a:hover:before {
        color: $pink;
    }

    #submenu_close {
        background: #222;
        display: none;
        padding: 20px 30px;
        right: 0;
        text-align: center;
        top: 0;
        width: 100%;
    }
}

@media only screen and (min-width: $normal) {
    nav.menu:hover .submenu {
        top: 96px;
        visibility: visible;
    }
}

nav.menu .submenu.develop {
    top: 96px;
    visibility: visible;
}

@media only screen and (max-width: $small) {
    nav.menu .submenu {
        overflow-y: scroll;
        padding: 0;
        transition: none;

        ul, ul.login, ul.register {
            border: 0 !important;
            float: none;
            height: auto;
            padding: 10px 20px;
            position: static;
            width: 100%;

            .btn {
                display: block;
                margin: 20px 0 10px;
                position: static;
                width: 100%;
            }
        }

        #submenu_close {
            display: block;
        }
    }

    nav.menu .submenu.develop {
        height: 100vh;
        top: 0;
        visibility: visible;
        z-index: 10000;
    }
}
