nav.menu .submenu {
    background: rgba($gray-black, .92);
    box-shadow: 0 4px 0 $pink;
    height: 240px;
    padding-left: 25px;
    position: absolute;
    text-shadow: none;
    top: -148px;
    transition: all 130ms ease-out;
    visibility: visible;
    width: 100%;
    z-index: 200;

    a {
        color: $white;
    }

    ul {
        border-top: 4px solid rgba(0,0,0,.0);
        float: left;
        height: 240px;
        margin-right: 25px;
        margin: 0;
        min-width: 160px;
        overflow-y: hidden;
        padding-top: 10px;
        top: 0;
        transition: border 100ms linear;

        h3 {
            color: $white;
            padding-left: 12px;
        }

        input[type=radio] {
            display: none;
        }

    }

    ul.login {
        padding: 10px;
        position: absolute;
        right: 0;
        width: 220px;

        h3 {
            padding: 0;
        }

        p {
            color: $white-break;
        }

        input[type="email"], input[type="password"] {
            background: $gray-dark;
            border-radius: 3px;
            border: 0;
            color: $white-break;
            margin-bottom: 5px;
            padding: 8px;
            width: 100%;
        }

        input[type="email"]:invalid, input[type="password"]:invalid {
            border: none;
            box-shadow: none;
        }

        .btn {
            position: absolute;
            right: 20px;
            top: 175px;
        }

        a {
            display: block;
            text-align: center;
        }

        a:before {
            content: "";
        }
    }

    ul.my-account, ul.login {
        background: $gray;
        float: right;
        margin-right: 0;
        padding: 10px 20px;
        box-shadow: 0 4px 0 $blue;

        h3, h3 a, a:hover, a:hover:before {
            color: $blue,
        }

        h3 {
            margin-bottom: 10px;
        }

        &:hover {
            border-top: 4px solid $blue;
        }
    }


    ul.register {
        background: $gray-dark;
        padding: 10px 20px;
        right: 219px;
    }

    ul.login:hover {
        border-top: 4px solid transparent;
    }

    ul:hover {
        border-top: 4px solid $pink;
    }

    li {
        display: block;
    }

    a {
        display: block;
        padding: 4px;
        text-align: left;
    }

    a:before {
        color: rgba($pink,0);
        content: "› ";
        transition: all 70ms linear;
    }

    a:hover:before , a:hover {
        color: $pink;
    }
}

nav.menu .submenu.develop {
    top: 96px;
    visibility: visible;
}


@media only screen and (min-width: $small) {
    label {
        cursor: auto;
    }
}
@media only screen and (max-width: $small) {
    nav.menu .submenu {
        overflow-y: scroll;
        padding: 0;
        transition: none;
        font-size: 1.2em;
        font-weight: lighter;

        label {
            display: block;
            opacity: 0.65;
            padding: 10px 0;

            h3 {
                font-weight: normal;
            }
        }

        input + label + div {
            display: none;
        }

        input:checked + label,
        input:checked + label + div {
            display: block;
            opacity: 1;
        }

        ul {
            border: 0 !important;
            float: none;
            height: auto;
            padding: 0;
            position: static;
            width: 100%;
        }

        a {
            color: $white !important;
            padding: 7px 0;
        }

        a::before {
            color: $white !important;
            display: inline-block;
            text-align: center;
            width: 40px;
        }

        h3 {
            margin: 0;
        }

        .my-account,  ul.login, ul.register {
            display: none;
        }
    }

    nav.menu {
        position: static;
    }


    nav.menu .submenu {
        top: -180px;
    }

    nav.menu .submenu.develop {
        background: $gray;
        height: auto;
        padding-bottom: 15px;
        top: 65px;
        visibility: visible;
        z-index: 10000;
    }
}
