.btn-support {
    padding: 10px;
    display: block;
    max-width: 100%;
    margin: 30px auto;
    border-radius: 3px;
    color: #FFF;
    border: 3px solid transparent;
    line-height: 20px;
    width: 180px;

    i {
        border: 3px solid #FFF;
        border-radius: 50%;
        padding: 5px 4px 3px;
    }
}
