
.tag {
    background: $background;
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 3px;
    max-width: 250px;
    overflow: hidden;
    padding: 6px;
    text-overflow: ellipsis;
    color: $gray !important;

}

a.tag {
    &:hover {
        background: darken($background, 5%);
        color: $pink;
        cursor: pointer;
    }

    &:active {
        background: darken($background, 10%);
        color: $pink_dark;
    }
}
