
.tooltip {
    position: relative;

    .tip {
        background: rgba(0,0,0,.85);
        border-radius: 3px;
        color: $white;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.4;
        left: calc(50% - 175px);
        opacity: 0;
        padding: 10px 7px 12px 7px;
        pointer-events: none;
        position: absolute;
        text-align: center;
        top: calc(100% + 10px);
        transition: all 250ms linear;
        width: 350px;
        z-index: 10000;

        &::after {
            border-bottom: 10px solid rgba(0,0,0,.85);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            bottom: 100%;
            content: "";
            left: calc(50% - 10px);
            position: absolute;
        }
    }

    &:hover .tip {
        opacity: 1;
    }
}
