
.zone {
    background: $white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
    margin: 15px 0;
    padding: 15px;

    .zone_title {
        color: $gray;
        font-weight: normal;
        margin: 15px 0 5px 15px;
    }

    a {
        color: $pink;
    }

    a:hover {
        opacity: 0.8;
    }
}
