.help {
    min-height: 350px;
    margin: 0;

    h2 {
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding: 5px;
    }

    ul {
        margin-top: 20px;

        li a {
            display: block;
            font-style: italic;
            font-weight: bold;
            padding: 8px 10px 10px 10px;
            margin: 0 0 10px;
            background: #DDD;
            border-radius: 3px;
            color: #444;
        }

        li a:hover {
            color: $pink;
            background: rgba(0,0,0,.1);
        }
    }
}

.help_nav {
    color: #FFF;
    background: $pink;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);

    h3, h2 {
        color:#FFF;
        font-size: 1.2em;
        display: inline-block;
        margin: 20px;
    }

    a {
        color: #DDD;
    }

    a:hover {
        color: #FFF;
    }
}

.help_page {
    ul {
        list-style: circle;
        margin-left: 30px;

        li {
            margin: 5px 0;
        }
    }
}
