$header-image: "header-img/"+random(34)+".jpg";

.header-img {
  height: 400px;
  position:absolute;
  top: 0;
  z-index: 0;
  box-shadow: 0 -50px 50px -50px #000 inset, 0 0 0 200px rgba($default, 0.8) inset;
  background: image_url($header-image) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: #FFF;
  width: 100%;
  padding: 100px;
  text-shadow: 0 2px 2px #000;

  h1 {
    color: #FFF;
  }

}
