.header-img {
    height: 300px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    background: image_url($header-image) no-repeat center center;
    background-size: cover;
    position: relative;
    margin-bottom: 15px;

    ul {
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: 0;
        padding: 20px;
        margin: 0;
        background: rgba(0,0,0,.6);
    }

    li {
        display: inline-block;

        a {
            padding: 5px;
            color: #DDD;
            text-shadow: 0 1px 2px rgba(0,0,0,.25);
            font-weight: bold;

            &:hover, &:active {
                color: #FFF;
            }
        }
    }
}

.home-about {

    .zone {
        min-height: 220px;
        margin: 15px 0;
    }
}
