.reported_input {
    display: none;
}

.reported_input:checked + form {
    display: block;
}

.reported_input:checked + div {
    display: none;
}

.report_form {
    display: none;
    padding: 20px;

    h2 {
        color: $red;
    }
}

.post-container {
    background-color: $background;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 8 8'%3E%3Cg fill='%23444444' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
    color: $white;
    position: relative;

    .reported {
        background: $gray-light;
        color: $red !important;
        font-weight: bold;
        height: 100%;
        left: 0;
        margin: 0 auto;
        max-width: 100%;
        padding: 50px 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 100;

        a {
            color: $pink !important;
        }
    }
}

.post_navigation {
    background: $white;
    padding: 14.5px 20px;
    text-align: center;

    h2 {
        display: inline-block;
        margin: 10px;
        max-width: calc(100% - 400px);
        overflow: hidden;
        pointer-events: none;
        text-overflow: ellipsis;

        @media only screen and (max-width: $xsmall) {
            max-width: calc(100% - 30px);
            overflow: visible;
            text-overflow: clip;
        }
    }


    .next {
        float: right;
    }

    .previous {
        float: left;

        i {
            float: left;
            margin: 2px 10px 0 0;
        }
    }
}

.post {
    box-shadow: inset 0 10px 10px -10px rgba($black, .7);
    min-height: 240px;
    padding: 20px;
    position: relative;
    text-align: center;

    .post-img {
        border: 1px dashed $gray-light;
        cursor: pointer;
        display: inline-block;
    }

    img {
        float: left;
        max-width: 100%;
    }

}

#post-score {
    position: relative;
    background: rgba($gray, .75);
    overflow: hidden;

    .overdose_bar, .shortage_bar {
        display: inline-block;
        float: left;
        position: relative;
        height: 60px;
        transition:all 500ms ease-in-out;
    }

    span {
        bottom: 0;
        display: inline-block;
        font-weight: bold;
        line-height: 46px;
        position: absolute;
        text-align: center;
        width: 46px;
    }

    .shortage_score {
        border-bottom: 7px solid $blue;
        left: 0;
    }

    .overdose_score {
        border-bottom: 7px solid $pink;
        right: 0;
    }

    .overdose_bar {
        border-bottom: 4px solid $pink;
        width: 50%;
    }

    .shortage_bar {
        border-bottom: 4px solid $blue;
        width: 50%;
    }
}

.post-details {
    background: $white;
    text-align: center;
    text-align: left;

    @media only screen and (max-width: $xsmall) {
        div { width: 100% }

        ul {
            display: block;
            width: 100%;
        }
    }

    .infos {
        li {
            overflow: hidden !important;
            padding-left: 100px;
            padding: 8px;
            position: relative;
            text-overflow: ellipsis !important;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        li:last-child {
            border: 0;
        }

        span {
            display: inline-block;
            min-width: 90px;
            padding-right: 8px;
        }
    }

    .post_vote {
        padding: 14.5px 20px;

        .btn {
            margin: 5px 0;
        }
    }

    .overdose, .shortage {
        display: inline-block;
        margin: 0;
    }

    .overdose {
        float: left;
    }

    .shortage {
        float: right;
    }

    h3 {
        color: $pink;
        font-size: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .author > a {
        padding: 10px;
    }

    .actions {
        .btn {
            width: 100%;
        }
    }
}

// Post Editing

#post_edit {
    display: none;

    &:checked + form {
        display: block;
    }
}

#edit_post {
    display: none;

    input, textarea {
        margin-bottom: 20px;
    }

    textarea:last-child {
        margin: 0;
    }

    h3 {
        color: $white;
    }

    p {
        color: $gray;
        margin-bottom: 10px;
    }
}
