.reported_input {
    display: none;
}

.reported_input:checked + form {
    display: block;
}

.reported_input:checked + div {
    display: none;
}

.report_form {
    display: none;
    padding: 20px;

    h2 {
        color: $red;
    }

    textarea {
        color: #888;
        font-weight: bold;
        margin: 20px 0;
    }
}

.post-container {
    background: $gray;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    color: #FFF;
    overflow: hidden;
    position: relative;

    .reported {
        background: $gray;
        color: #FFF !important;
        font-weight: 900;
        height: 100%;
        margin: 0 auto;
        max-width: 100%;
        padding: 200px 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 100;

        a {
            color: $pink !important;
        }
    }
}

.post_navigation {
    background: #000;
    padding: 15px;
    text-align: center;

    h2 {
        display: inline-block;
        margin: 10px;
        max-width: calc(100% - 400px);
        overflow: hidden;
        pointer-events: none;
        text-overflow: ellipsis;

        @media only screen and (max-width: $xsmall) {
            max-width: calc(100% - 30px);
            overflow: visible;
            text-overflow: clip;
        }
    }


    .next {
        float: right;
    }

    .previous {
        float: left;

        i {
            float: left;
            margin: 2px 10px 0 0;
        }
    }
}

.post {
    padding-top: 20px;
    position: relative;
    text-align: center;

    img {
        cursor: pointer;
        max-width: 100%;
    }

}

#post-score {
    position: relative;

    .overdose_bar, .shortage_bar {
        -moz-transition:all 500ms ease-in-out;
        -o-transition:all 500ms ease-in-out;
        -webkit-transition:all 500ms ease-in-out;
        display: inline-block;
        float: left;
        height: 60px;
        position: relative;
        transition:all 500ms ease-in-out;
    }

    span {
        display: inline-block;
        font-weight: 900;
        height: 60px;
        min-width: 46px;
        padding-top: 23px;
        position: absolute;
        text-align: center;
    }

    .shortage_score {
        border-bottom: 7px solid $blue;
        left: 0;
    }

    .overdose_score {
        border-bottom: 7px solid $pink;
        right: 0;
    }

    .overdose_bar {
        border-bottom: 4px solid $pink;
        width: 50%;
    }

    .shortage_bar {
        border-bottom: 4px solid $blue;
        width: 50%;
    }
}

.post-details {
    background: #FFF;
    color: #444;
    text-align: center;
    text-align: left;

    @media only screen and (max-width: $xsmall) {
        div { width: 100% }

        ul {
            display: block;
            width: 100%;
        }
    }

    .infos {
        li {
            border-bottom: 1px solid #EEE;
            overflow: hidden !important;
            padding-left: 100px;
            padding: 8px;
            position: relative;
            text-overflow: ellipsis !important;
        }

        li:last-child {
            border: 0;
        }

        span {
            display: inline-block;
            left: 10px;
            min-width: 90px;
            padding-right: 8px;
            position: absolute;
            text-align: left;
        }
    }

    .post_vote {
        padding: 25px 30px;

        .btn {
            margin: 5px 0;
        }
    }

    .overdose, .shortage {
        display: inline-block;
        margin: 0;
    }

    .overdose {
        float: left;
    }

    .shortage {
        float: right;
    }

    .column {
        color: #555;
        display: inline-block;
        text-align: left;
    }

    h3 {
        color: $pink;
        font-size: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .author > a {
        padding: 10px;
    }

    .actions {
        .btn {
            width: 100%;
        }
    }
}

// Post Editing

#post_edit {
    display: none;

    &:checked + form {
        display: block;
    }
}

#edit_post {
    display: none;

    input, textarea {
        margin-bottom: 20px;
    }

    textarea:last-child {
        margin: 0;
    }

    h3 {
        color: #FFF;
    }

    p {
        color: #444;
    }
}
