// LOGIN & SIGNUPS

.user_form {
    background-position: center center;
    background-size: cover;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    margin: 25px auto;
    max-width: 800px;
    padding: 25px;
    width: 100%;

    p {
        color: #FFF;
        text-align: center;
    }

    .links {
        text-align: center;

        a {
            color: $gray;
            opacity: .7;
            font-weight: 900;
            margin: 0 5px;
            outline: none;
        }

        a:hover {
            opacity: 1;
        }
    }

    label {
        background: rgba(0,0,0,.5);
        border-radius: 3px;
        color: #FFF;
        display: inline-block;
        font-weight: 900;
        padding: 10px;
    }

    label:hover {
        background: rgba(0,0,0,.75);
    }
}

.userprofile {
    color: #555;

    .username {
        color: #555;
        display: inline-block;
        font-size: 2em;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        margin-top: 10px;
    }

    .user_header {
        background: url($header-image) no-repeat center center;
        background-size: cover;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -200px 100px -100px rgba(0,0,0,.75);
        height: 300px;
        padding: 20px;
        position: relative;

        .icon {
            color: #FFF;
            float: right;
            font-size: 1.5em;
            padding: 10px;
            text-shadow: 0 1px 2px #000;
        }

        .avatar {
            border-radius: 3px;
            bottom: 20px;
            box-shadow: 0 1px 3px rgba(0,0,0,.25);
            background: #FFF;
            left: 20px;
            position: absolute;
            z-index: 100;
        }

        .role {
            background: #FFF;
            border-radius: 3px;
            bottom: 85px;
            box-shadow: 0 1px 3px rgba(0,0,0,.25);
            color: #555;
            font-size: 1.2em;
            font-weight: 900;
            padding: 4px 15px 8px;
            position: absolute;
            right: 20px;
        }

        .user_banner {
            background: rgba(255, 255, 255, 0.7);
            bottom: 0;
            height: 66px;
            left: 0;
            margin: 0;
            padding: 0 0 0 160px;
            position: absolute;
            width: 100%;


            .btn {
                float: right;
                margin: 16px;
                width: auto;
            }
        }

        @media only screen and (max-width: $xsmall) {
            .avatar {
                height: 60px;
                width: 60px;
            }

            .user_banner {
                padding-left: 100px;
            }

            .role {
                display: none;
            }
        }
    }
}

.user_posts {
    .favorites, .uploads {
        background: $gray-light;
        border-radius: 3px;
        overflow: hidden;
    }

    .post-thumbnail {
        height: 200px;
        width: 20%;
    }

    a {
        float: right;
        margin-top: 15px;
    }
}

// EDIT user

.userprofile.edit {
    #edit-zone {
        position: fixed;
        bottom: 10px;
        z-index: 100;
    }

    #edit-title {
        transition: 170ms transform ease-in-out;
        background: rgba($gray, .8);
        box-shadow: 0 0 5px rgba($gray, .5);
        border-radius: 3px;
        padding: 9px;
        width: 800px;
        max-width: calc(100vw - 20px);
        margin: auto;
        transform: translateY(100px);

        .btn {
            width: auto;
            margin: 0;
            float: right;
        }

        span {
            color: #fff;
            padding: 10px;
            line-height: 30px;
        }
    }

    #edit-title.modified {
        transform: translateY(0px);
    }


    .tooltip {
        color: #AAA;
        margin: 10px;
        cursor: help;
    }

    h3, h6 {
        display: inline-block;
    }

    #avatar-img {
        display: inline;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,.25);
        float: left;
        position: relative;
        width: 120px;
        height: 120px;
        background-position: center;
        background-size: cover;
        margin: 0;

        &:hover .message{
            background: rgba($gray, .2);
        }
    }

    .avatar-upload {
        line-height: 120px;

        input {
            position: absolute;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        .message {
            border-radius: 3px;
            width: 100%;
            color: #FFF;
            text-align: center;
            padding: 0 20px;
            float: left;
            transition: 170ms all ease-in-out;
            background: rgba($gray, .5);
        }

        .btn {
            line-height: 1.4;
            margin: 20px;
        }

        label {
            float: left;
        }
    }


    #banner_img {
        background-position: center center;
        background-size: cover;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,.25);
        height: 300px;
        left: 0;
        max-height: 300px;
        position: relative;
        margin: 0px;
        width: 100%;

        label {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: 170ms all ease-in-out;
            border-radius: 3px;
            background: rgba($gray, .5);

            span {
                padding: 10px 13px;
                background: #fff;
                border-radius: 3px;
                transition: 170ms box-shadow ease-in-out;
            }
        }

        .message {
            pointer-events: none;
            position: absolute;
            top: 0;
            width: 100%;
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            line-height: 300px;
        }

        input[type="file"] {
            opacity: 0;
            height: 100%;
            width: 100%;
        }

        label:hover {
            background: rgba($gray, 0.2);

            span {
                box-shadow: 0 0 0 5px rgba($blue, .8);
            }

        }
    }
}
