<form class="search-form">
    <div class="form-input-group">
        <input type="text" name="query" autocomplete="off" class="form-input search-form-input" placeholder="Search tag name" value="<%= params[:query] %>"/>
        <button type="submit" class="button-icon button-base"><i class="fa fa-search"></i> Search</button>
    </div>
</form>
