.action-table {
    display: flex;
    flex-direction: column;

    header {
        border-bottom: 1px solid $gray-lighter;
        display: flex;
        font-weight: bold;
        margin-bottom: 0.5rem;
        padding: 0.4rem 0.5rem;

        .action-table-header-part {
            flex: 1;
        }
    }

    .action-table-item {
        align-items: center;
        background: $white;
        border: 1px solid $gray-lighter;
        border-radius: $border-radius;
        display: flex;
        height: 2.6rem;
        margin-bottom: 0.5rem;
        padding: 0.4rem 0.5rem;

        .action-table-item-part {
            flex: 1 1 0;
        }
    }

    footer {
        padding: 0.5rem;
    }
}
