.avatar {
    background: $gray-dark;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;

    img {
        display: block;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
    }
}
