.button-icon {
    background: $primary-color;
    border-radius: .15rem;
    color: $true-white;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .05rem;
    padding: .45rem .35rem;
    transition: filter 70ms linear;

    i {
        padding: 0 .1rem;
    }

    &:hover {
        filter: brightness(0.94);
    }
}
