.button-secondary {
    background: rgba($black, .1);
    border-radius: .15rem;
    color: $gray-dark;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .05rem;
    padding: .45rem .5rem;
    transition: background-color 70ms linear;

    i {
        padding: 0 .1rem;
        margin-left: .25rem;
    }

    &:hover {
        background: rgba($black, .2);
    }

    &.button-primary-compact {
        margin: 0;
    }
}
