.button-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.15rem;
    padding: 0.075rem 0;

    .button-important,
    .button-secondary,
    .button-icon {
        margin: 0.075rem 0.15rem;
    }

    &.button-list-center {
        justify-content: center;
    }

    &.button-list-right {
        justify-content: flex-end;
    }
}
