html {
    background: $white;
    box-sizing: border-box;
    font-family: 'Lato', Arial Grande, Tahoma, Helvetica, Arial, sans-serif;
    font-size: $default-font-size;
    line-height: $default-line-height;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: $text-color-dark;
    font-size: $body-font-size;
    overflow: hidden scroll;

    .view-content {
        margin-bottom: 2rem;
        padding-top: 5rem;
    }

    .view-full-width {
        display: flex;
        padding-top: calc(3rem + 5px);

        .view-full-width-content {
            flex-grow: 1;
            padding: 1rem;
        }

        .view-full-width-sidebar {
            display: flex;
            min-height: 10vh;
            position: relative;
        }
    }

    &.disable-scroll {
        overflow: hidden;

        & > *:not(.lightbox) {
            opacity: 0 !important;
        }
    }
}
