.show-small,
.show-medium,
.show-large,
.show-hdpi {
  display: none;
}

@media only screen and (min-width: $hdpi) {
  .col-1-hdpi {
    width: (100% / 12);
  }

  .col-2-hdpi {
    width: (100% / 6);
  }

  .col-3-hdpi {
    width: (100% / 4);
  }

  .col-4-hdpi {
    width: (100% / 3);
  }

  .col-5-hdpi {
    width: (100% / (12 / 5));
  }

  .col-6-hdpi {
    width: (100% / 2);
  }

  .col-7-hdpi {
    width: (100% / (12 / 7));
  }

  .col-8-hdpi {
    width: (100% / (12 / 8));
  }

  .col-9-hdpi {
    width: (100% / (12 / 9));
  }

  .col-10-hdpi {
    width: (100% / (12 / 10));
  }

  .col-12-hdpi {
    width: 100%;
  }

  .show-hdpi {
    display: block;
  }

  .hide-hdpi {
    display: none;
  }

  .row {
    max-width: $content-width-hdpi;
  }
}

@media only screen and (max-width: $hdpi) {
  .col-1-large {
    width: (100% / 12);
  }

  .col-2-large {
    width: (100% / 6);
  }

  .col-3-large {
    width: (100% / 4);
  }

  .col-4-large {
    width: (100% / 3);
  }

  .col-5-large {
    width: (100% / (12 / 5));
  }

  .col-6-large {
    width: (100% / 2);
  }

  .col-7-large {
    width: (100% / (12 / 7));
  }

  .col-8-large {
    width: (100% / (12 / 8));
  }

  .col-9-large {
    width: (100% / (12 / 9));
  }

  .col-10-large {
    width: (100% / (12 / 10));
  }

  .col-12-large {
    width: 100%;
  }

  .show-large {
    display: block;
  }

  .hide-large {
    display: none;
  }

  .row {
    max-width: $content-width-large;
  }
}

@media only screen and (max-width: $large) {
  .show-normal {
    display: block;
  }

  .hide-normal {
    display: none;
  }

  .row {
    max-width: $content-width-normal;
  }
}

@media only screen and (max-width: $medium) {
  .col-1-medium {
    width: (100% / 12);
  }

  .col-2-medium {
    width: (100% / 6);
  }

  .col-3-medium {
    width: (100% / 4);
  }

  .col-4-medium {
    width: (100% / 3);
  }

  .col-5-medium {
    width: (100% / (12 / 5));
  }

  .col-6-medium {
    width: (100% / 2);
  }

  .col-7-medium {
    width: (100% / (12 / 7));
  }

  .col-8-medium {
    width: (100% / (12 / 8));
  }

  .col-9-medium {
    width: (100% / (12 / 9));
  }

  .col-10-medium {
    width: (100% / (12 / 10));
  }

  .col-12-medium {
    width: 100%;
  }

  .show-medium {
    display: block;
  }

  .hide-medium {
    display: none;
  }

  .row {
    padding: 0 0.4rem;
    max-width: $content-width-medium;
  }
}

@media only screen and (max-width: $small) {
  .col-1-small {
    width: (100% / 12);
  }

  .col-2-small {
    width: (100% / 6);
  }

  .col-3-small {
    width: (100% / 4);
  }

  .col-4-small {
    width: (100% / 3);
  }

  .col-5-small {
    width: (100% / (12 / 5));
  }

  .col-6-small {
    width: (100% / 2);
  }

  .col-7-small {
    width: (100% / (12 / 7));
  }

  .col-8-small {
    width: (100% / (12 / 8));
  }

  .col-9-small {
    width: (100% / (12 / 9));
  }

  .col-10-small {
    width: (100% / (12 / 10));
  }

  .col-12-small {
    width: 100%;
  }

  .show-small {
    display: block;
  }

  .hide-small {
    display: none;
  }

  .row {
    padding: 0 0.2rem;
    max-width: $content-width-small;
  }
}
