.item-list {
    .item {
        @include shadow-1();

        background: $true-white;
        border-radius: $border-radius;
        display: flex;
        margin-bottom: 0.4rem;
        padding: 0.5rem;

        .item-content {
            flex-grow: 1;
        }
    }

    a.item {
        @include shadow-control-1();
    }
}
