a {
    color: $base-color;
    text-decoration: none;
    transition: color 70ms linear;

    &:hover {
        color: rgba($base-color, 0.8);
    }
}

.link {
    border-bottom: 1px solid transparent;
    color: $base-color;
}
