.tag {
    border-radius: $border-radius;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.2rem;
    padding: 0 0.2rem;

    &.tag-blank {
        @include tag-color($base-color);
    }

    &,
    &.tag-content {
        @include tag-color($pink);
    }

    &.tag-alias {
        @include tag-color($text-color-dark);
    }

    &.tag-copyright {
        @include tag-color($purple);
    }

    &.tag-author {
        @include tag-color($orange);
    }

    &.tag-character {
        @include tag-color($green);
    }
}
