<div class="help_page">
    <div class="zone">
        <h4 class="title">Copyright Requests</h4>
        <div class="columns">
            <div class="col col-6 padding padding-right">
                <p class="p-lead">If you are an artist and your content was published on <%= site_name %> without your consent, you can request for it to be removed.</p>
            </div>
            <div class="col col-6">
                <iframe src="https://discordapp.com/widget?id=163371003366342657&amp;theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
