
<div class="zone">
    <h4 class="title"><%= @user.name %>'s favorites</h4>
    <h6 class="subtitle">
        <span class="number"><%= @user.favorites.count %></span> favorited posts
    </h6>
</div>

<%= component "shared/post-list" %>

<%= paginate @posts %>
