@import "base/_variables";
@import "base/_extends";
@import "base/_colors";

.spoiler-toggle {
    border-radius: 3px;
    background: $white;
    display: block;
    padding: 5px;

    input {
        display: none;
    }
}

.spoiler-toggle input:checked + .spoiler {
    display: block;
}

.spoiler {
    display: none;
}
