<% if current_user.team? %>
    <div class="zone">
        <h4 class="title">Adminstration</h4>
        <div class="button-list">
            <a class="button-primary background-red" href="<%= admin_user_ban_path(@user)%>" data-method="patch">Ban User</a>
        </div>
    </div>
<% end %>
