<div class="help_nav">
    <h2><%= link_to 'Help', '/pages/help/index' %></h2><%= fa_icon "chevron-right"%><h3>Chat</h3>
</div>

<div class="help_page zone row">
    <p>Moeverdose use a third party chat software called Discord; you may join the chat at any moment using the url provided in the header of the website</p>
    <p>If you need help using Discord, you may find informations on the official <a href="https://support.discordapp.com/" target="_blank">Discord support website</a></p>
    <p>Chat rules are established in Discord itself.</p>
    <br />
    <iframe src="https://discordapp.com/widget?id=163371003366342657&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
</div>
