<div class="help_nav">
    <h2><%= link_to 'Help', '/pages/help/index' %></h2><%= fa_icon "chevron-right"%><h3>Copyright</h3>
</div>

<div class="help_page zone">
    <p>If you are an artists and wish for your content to be removed from <%= site_name %>, please join the discord chat temporarily and report it to us in the #copyright_claim channel.</p>
    <p>This is the fastest method we can propose to you. Please, provide informations about which posts you wish to see removed.</p>
    <br />
    <iframe src="https://discordapp.com/widget?id=163371003366342657&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
</div>
