<div class="help_nav">
    <h2><%= link_to 'Help', '/pages/help/index' %></h2>
</div>
<div class="row zone">
    <h1>Help</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="row help">
    <div class="zone col-12">
        <h2>Posts</h2>
        <ul>
            <li><a href="/pages/help/rules#help">How to upload</a></li>
            <li><a href="/pages/help/rules#rules">Upload Rules</a></li>
            <li><a href="/pages/help/edit">Editing posts</a></li>
        </ul>
    </div>
    <div class="zone col-12">
        <h2>Users</h2>
        <ul>
            <li><a href="/pages/help/registration">Registration</a></li>
            <li><a href="/pages/help/profile">Profile</a></li>
            <li><a href="/pages/help/options">Options</a></li>
        </ul>
    </div>
    <div class="zone col-12">
        <h2>Keyboard</h2>
        <ul>
            <li><a href="/pages/help/keyboard">Keyboard</a></li>
        </ul>
    </div>
    <div class="zone col-12">
        <h2>Chat</h2>
        <ul>
            <li><a href="/pages/help/chat">Chat help</a></li>
        </ul>
    </div>
    <div class="zone col-12">
        <h2>Moeverdose</h2>
        <ul>
            <li><a href="/pages/about">About Moeverdose</a></li>
            <li><a href="/pages/team">The Team</a></li>
            <li><a href="/pages/source">Source code</a></li>
            <li><a href="/pages/tos">Terms of Service</a></li>
        </ul>
    </div>
</div>
