<div class="help_nav">
    <h2><%= link_to 'Help', '/pages/help/index' %></h2>
</div>

<div class="help">
    <div class="zone col-12">
        <h2>Posts</h2>
        <ul>
            <li><a href="/pages/help/rules#help">How to upload</a></li>
            <li><a href="/pages/help/rules#rules">Upload Rules</a></li>
            <li><a href="/pages/help/edit">Editing posts</a></li>
            <li><a href="/pages/help/copyright">Copyright Requests</a></li>
        </ul>
    </div>
    <div class="zone col-12">
        <h2>Users</h2>
        <ul>
            <li><a href="/pages/help/registration">Registration</a></li>
            <li><a href="/pages/help/profile">Profile</a></li>
            <li><a href="/pages/help/options">Options</a></li>
        </ul>
    </div>
    <div class="zone col-12">
        <h2>Keyboard</h2>
        <ul>
            <li><a href="/pages/help/keyboard">Keyboard</a></li>
        </ul>
    </div>
    <div class="zone col-12">
        <h2>Chat</h2>
        <ul>
            <li><a href="/pages/help/chat">Chat help</a></li>
        </ul>
    </div>
    <div class="zone col-12">
        <h2><%= site_name %></h2>
        <ul>
            <li><a href="/pages/about">About <%= site_name %></a></li>
            <li><a href="/pages/team">The Team</a></li>
            <li><a href="/pages/source">Source code</a></li>
            <li><a href="/pages/tos">Terms of Service</a></li>
        </ul>
    </div>
</div>
