<div class="help_nav">
    <h2><%= link_to 'Help', '/pages/help/index' %></h2><%= fa_icon "chevron-right"%><h3>Keyboard</h3>
</div>

<div class="help_page zone">
    <div class="col-6">
        <h3>Posts</h3>
        <p>Keyboard shortcut's usable when viewing a post</p>
        <li><span class="key">&larr;</span>: Previous post</li>
        <li><span class="key">&rarr;</span>: Next post</li>
        <li><span class="key">1</span>: Add / remove post from favorites</li>
        <li><span class="key">2</span>: Increment moe overdose</li>
        <li><span class="key">3</span>: Increment moe shortage</li>
    </div>
    <div class="col-6">
        <h3>Global shortcut's</h3>
        <p>Keyboard shortcut's usable everywhere</p>
        <li><span class="key">4</span>: My Profile or Login</li>
        <li><span class="key">5</span>: Upload post</li>
        <li><span class="key">0</span>: Logout</li>
    </div>
</div>
