<div class="help_nav">
  <h2><%= link_to 'Help', '/pages/help/index' %></h2><%= fa_icon "chevron-right"%><h3>Keyboard</h3>
</div>
<div class="help_page zone row">
  <ul class="key_list column f4">
    <h3>Posts</h3>
    <p>Keyboard shortcut's usable when viewing a post</p>
    <li><span class="key">&larr;</span>: Previous post</li>
    <li><span class="key">&rarr;</span>: Next post</li>
    <li><span class="key">space</span>+<span class="key">3</span>: Add / remove post from favorites</li>
    <li><span class="key">space</span>+<span class="key">4</span>: Edit post</li>
    <li><span class="key">space</span>+<span class="key">5</span>: Increment moe overdose</li>
    <li><span class="key">space</span>+<span class="key">6</span>: Increment moe shortage</li>
  </ul>
  <ul class="key_list column f4">
    <h3>Author</h3>
    <p>Keyboard shortcut's usable when viewing an author porfile</p>
    <li><span class="key">space</span>+<span class="key">3</span>: All posts of the author</li>
    <li><span class="key">space</span>+<span class="key">4</span>: Edit author</li>
    <li><span class="key">space</span>+<span class="key">5</span>: Add author to favorites</li>
    <li><span class="key">space</span>+<span class="key">6</span>: Blacklist author</li>
  </ul>
  <ul class="key_list column f4">
    <h3>Global shortcut's</h3>
    <p>Keyboard shortcut's usable everywhere</p>
    <li><span class="key">+</span>: Upload post</li>
    <li><span class="key">space</span>+<span class="key">enter</span>: Login / user profile</li>
    <li><span class="key">space</span>+<span class="key">backspace</span>: Logout</li>
    <li><span class="key">space</span>+<span class="key">1</span>: My favorites</li>
    <li><span class="key">space</span>+<span class="key">2</span>: My uploads</li>
    <li><span class="key">space</span>+<span class="key">0</span>: Keyboard Help</li>
  </ul>
</div>
