<div class="help_nav">
    <h2><%= link_to 'Help', '/pages/help/index' %></h2><%= fa_icon "chevron-right"%><h3>Posts Rules</h3>
</div>

<div class="help_page zone">
    <h2 id="help">Help when uploading</h2>
    <p>To upload a media, go to the <%= link_to "upload page", new_post_path %></p>
    <ol>
        <li>Select the file by clicking the first field or drag and drop the file in it.</li>
        <li>Fill in the post title (optional).</li>
        <li>Fill in the post author (optional).</li>
        <li>Fill in the post source (optional).</li>
        <li>Add tags describing the content of the media, you may discuss which existing tags to use or to create in the chat (optional).</li>
        <li>Finaly add characters names depicted in the media along with the series names in parenthesis (optional).</li>
        <li>Click the upload button or press enter; you will be redirected to the new post page you made.</li>
    </ol>

    <h2>Content specifications</h2>
    <ul>
        <li>must have a dimension of or more than 200px for the width and 200px for the height.</li>
        <li>must have a dimension of or less than 10000px for the width and 10000px for the height.</li>
        <li>must be less than 50MB in size.</li>
    </ul>

    <h2 id="rules">The followings types of content are prohibited on this website</h2>
    <ul>
        <li>NSFW (Not Safe for work) media are prohibited. No pornographic content, total nudity or extremely graphic (violent/gore) content are allowed.</li>
        <li>Pornography: Any photograph or photorealistic drawing or movie that depicts peoples in a sexual manner. This includes nudity, explicit sex, implied sex, or sexually persuasive positions.</li>
        <li>Child pornography: Any photograph or photorealistic drawing or movie that depicts children in a sexual manner. This includes nudity, explicit sex, implied sex, or sexually persuasive positions.</li>
        <li>Non-anime: This site is only for Anime, with the exception of cosplay.</li>
        <li>Non-anime styled 3D: Any 3D material that doesn't look anime.</li>
        <li>Watermarked: Any image where a person who is not the original copyright owner has placed a watermark on the image.</li>
        <li>Poorly compressed: Any image where compression artifacts are easily visible.</li>
    </ul>
    <p><strong>This list is non-exhaustive, if a staff member judge your content to be inappropriate, the content will be deleted without notice or compensation.</strong></p><br />
    <p>This list may be modified at any moment.</p>
</div>
