/* Screen Sizes */
$device-xsmall: 640px;
$device-small: 1024px;
$device-medium: 1280px;
$device-large: 1600px;

/* Header Image */
$header-image: "header-img.jpg";

/* Browser Styling */
::selection {
    background: $pink_light;
    color: #FFF
}

::placeholder {
    color: #888;
}

/* Global default custom styles */
html {
    box-sizing: border-box;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;

    @media only screen and (max-width: $xsmall) {
        font-size: 14px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 70ms linear;
}

label {
    cursor: pointer;
}

dd {
    margin: 0;
}

body {
    background-attachment: fixed;
    background-image: url(image_path('background.svg'));
    background-size: cover;
    padding-top: 100px;
}

/* Inputs */

textarea, input[type="text"] {
    border-radius: 3px;
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.25) inset;
    padding: 10px;
    width: 100%;
}

textarea {
    min-height: 200px;
    resize: vertical;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h2,h3,h4,h5,h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    color: $pink;
    font-size: 1.25em;
}

h3 {
    color: $blue;
    font-size: 1.20em;
}

h4 {
    color: $blue;
    font-size: 1.15em;
}

h5 {
    color: $pink;
    font-size: 1em;
}

h6 {
    color: $blue;
    font-size: 0.8em;
}
