$default: #50C;
$default_light: lighten($default, 15%);
$default_dark: darken($default, 15%);

$pink: #f09;
$pink_light: lighten($pink, 25%);
$pink_dark: darken($pink, 25%);

$blue: #1AB;
$blue_light: lighten($blue, 25%);
$blue_dark: darken($blue, 25%);

$green: #1B2;
$green_light: lighten($green, 25%);
$green_dark: darken($green, 25%);

$yellow: #fc2;
$yellow_light: lighten($yellow, 25%);
$yellow_dark: darken($yellow, 25%);

$orange: #F60;
$orange_light: lighten($orange, 25%);
$orange_dark: darken($orange, 25%);
