// utility

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}
// grid

$width: 100%;
$gutter: 30px;

.row {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 100%;
    max-width: 1600px;
}

.row [class^="col-"] {
    float: left;
    padding: 15px;
    min-height: 0.125rem;
    text-align: left;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: 720px) {
  .col-1 { width:($width / 12)  }
  .col-2 { width: ($width / 6)  }
  .col-3 { width: ($width / 4) }
  .col-4 { width: ($width / 3) }
  .col-5 { width: ($width / (12 / 5)) }
  .col-6 { width: ($width / 2) }
  .col-7 { width: ($width / (12 / 7)) }
  .col-8 { width: ($width / (12 / 8)) }
  .col-9 { width: ($width / (12 / 9)) }
  .col-10 { width: ($width / (12 / 10)) }
  .col-11 { width: ($width / (12 / 11)) }
  .col-12 { width: $width; }

  .hidden-sm {
    display: block;
  }
}

/* Global Elements */
.clearfix:after {
    display: block;
    height: 0;
    content: " ";
    clear: both;
}

.hide {
    display: none;
}
