
$width: 100%;
$gutter: 30px;

.row {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 100%;
    max-width: 1600px;
}

@media only screen and (min-width: $xlarge) {
    .row {
        max-width: 2000px;
    }
}

@media only screen and (min-width: $xxlarge) {
    .row {
        max-width: 2200px;
    }
}

.row [class^="col-"] {
    float: left;
    padding: $gutter / 2;
    min-height: 0.125rem;
    text-align: left;
}

.row .col-sm {
    padding: 0;

    &:first-child {
        padding-right: $gutter / 2;
    }

    &:last-child {
        padding-left: $gutter / 2;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: $xsmall) {
    .col-1 { width:($width / 12) }
    .col-2 { width: ($width / 6) }
    .col-3 { width: ($width / 4) }
    .col-4 { width: ($width / 3) }
    .col-5 { width: ($width / (12 / 5)) }
    .col-6 { width: ($width / 2) }
    .col-7 { width: ($width / (12 / 7)) }
    .col-8 { width: ($width / (12 / 8)) }
    .col-9 { width: ($width / (12 / 9)) }
    .col-10 { width: ($width / (12 / 10)) }
    .col-11 { width: ($width / (12 / 11)) }
    .col-12 { width: $width; }
}

/* Global Elements */
.clearfix:after {
    display: block;
    height: 0;
    content: " ";
    clear: both;
}

.hide {
    display: none;
}
