<div class="item-list">
    <% if @claims.each do |c| %>
        <%= link_to claim_path(c), class: "item rm-padding-bottom" do %>
            <div class="item-content">
                <%= c.name %>
            </div>
        <% end %>
    <% end.empty? %>
        You have no claimed posts
    <% end %>

    <%= paginate @claims %>

    <%= component "shared/items-per-page",
        {
            total_pages: @claims.total_pages,
            keep_params: []
        }
    %>
</div>
