
.color-pink {
    color: $pink;
}

.background-pink {
    background-color: $pink;
}

.color-green {
    color: $green;
}

.background-green {
    background-color: $green;
}

.color-purple {
    color: $purple;
}

.background-purple {
    background-color: $purple;
}

.color-blue {
    color: $blue;
}

.background-blue {
    background-color: $blue;
}

.color-yellow {
    color: $yellow;
}

.background-yellow {
    background-color: $yellow;
}

.color-orange {
    color: $orange;
}

.background-orange {
    background-color: $orange;
}

.color-red {
    color: $red;
}

.background-red {
    background-color: $red;
}

.color-cyan {
    color: $cyan;
}

.background-cyan {
    background-color: $cyan;
}
