.padding {
    --padding: #{$layout-spacing};
    padding: var(--padding);

    // directions
    &.padding-horizontal {
        padding: 0 var(--padding);
    }

    &.padding-vertical {
        padding: var(--padding) 0;
    }

    &.padding-bottom {
        padding: 0;
        padding-bottom: var(--padding);
    }

    &.padding-left {
        padding: 0;
        padding-left: var(--padding);
    }

    &.padding-right {
        padding: 0;
        padding-right: var(--padding);
    }

    &.padding-top {
        padding: 0;
        padding-top: var(--padding);
    }

    // values
    &.padding-0 {
        --padding: 0;
    }

    &.padding-sm {
        --padding: #{$layout-spacing * 0.5};
    }

    // &.padding- {
    //     --padding: $layout-spacing;
    // }

    &.padding-md {
        --padding: #{$layout-spacing * 1.5}; 
    }

    &.padding-2 {
        --padding: #{$layout-spacing * 2};
    }
    
    &.padding-3 {
        --padding: #{$layout-spacing * 3};
    }

    &.padding-4 {
        --padding: #{$layout-spacing * 4};
    }

    &.padding-5 {
        --padding: #{$layout-spacing * 5};
    }
}
