<% @permissions_types.each do |pt| %>
    <h3> <%= pt.name %> </h3>
    <div class="columns">
        <p class="col col-10 col-12-small"> <%= pt.description %></p>
        <div class="col col-2 col-12-small">
            <%= link_to admin_permissions_type_path(pt), class:"button-primary button-error", method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-fw fa-trash-alt"></i> Delete
            <% end %>
        </div>
    </div>
<% end %>
