<div style="background-color: #fbfbff; padding: 20px; border-radius: 0.25rem;">
    <%= render "devise/mailer/shared/header" %>

    <p>Hello <%= @resource.email %>!</p>

    <p>Your password has been succesfully changed.</p>
</div>
