<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<%= link_to "Change my password", edit_password_url(@resource, reset_password_token: @token), style: 
'
    display: inline-block;
    background: #67F;
    padding: 0.6rem 1rem;
    border-radius: 0.25rem;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
'
%>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
