<noscript class="color-red align-center">
    <p class="p-lead margin margin-vertical margin-3">
        Some parts of <%= site_name %> <strong>won't work</strong> without javascript <strong>enabled</strong>.
    </p>
</noscript>
