// Theme colors
$purple: #63D;
$blue:   #67F;
$cyan:   #2BD;
$green:  #3C3;
$yellow: #FC3;
$orange: #F70;
$red:    #F33;
$pink:   #F4A;

$primary-color:   $pink;
$secondary-color: $cyan;
$base-color:      $purple;

$shadow-color:     #22223C;
$text-color-light: #BBC;
$text-color-dark:  #557;

// Gray levels
$true-white: #FFF;
$white:      #FBFBFF;
$gray-light: #E6E6F8;
$gray:       #8989A4;
$gray-dark:  #4B4B5D;
$black:      #1B1B26;
$true-black: #000;

// Error levels color
$success-color: $green;
$info-color:    $blue;
$warning-color: $orange;
$error-color:   $red;
