<div class="zone">
    <div class="columns">
        <div class="col col-6">
            <h4 class="title">Posts</h4>
            <p>Keyboard shortcut's usable when viewing a post</p>
            <ul class="list list-spaced">
                <li><span class="key">&larr;</span> Previous post</li>
                <li><span class="key">&rarr;</span> Next post</li>
                <li><span class="key">1</span> Add / remove post from favorites</li>
                <li><span class="key">2</span> Increment moe overdose</li>
                <li><span class="key">3</span> Increment moe shortage</li>
            </ul>
        </div>
        <div class="col col-6">
            <h4 class="title">Global shortcut's</h4>
            <p>Keyboard shortcut's usable everywhere</p>
            <ul class="list list-spaced">
                <li><span class="key">4</span> My Profile or Login</li>
                <li><span class="key">5</span> Upload post</li>
                <li><span class="key">0</span> Logout</li>
            </ul>
        </div>
    </div>
</div>
