.main-footer {
    @include shadow-2();

    background: $true-white;
    margin: 0 -3rem;
    padding: 0 3rem;
    color: $text-color-dark;

    .title {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $gray-lighter;
    }

    a {
        @include focusable();

        border-radius: $border-radius;
        color: $gray;
        margin: 0.1rem 0;
        padding: 0.1rem 0;
    }

    nav a {
        display: block;
    }

    a:hover {
        color: $gray-darker;
    }
}
