.main-search {
    @include shadow-2();

    background: $true-white;
    border-radius: $border-radius;

    .main-search-tags {
        background: $gray-lightest;
        border-radius: 0 0 $border-radius $border-radius;
        height: 0;
        overflow: hidden;

        &.active {
            height: auto;
        }

        .tag {
            cursor: pointer;
        }

        .subtitle {
            margin-bottom: 0.4rem;
            padding-bottom: 0.4rem;

            i {
                font-size: 0.8em;
                margin-right: 0.2rem;
            }
        }
    }

    .main-search-input-container {
        display: flex;
        margin-bottom: 0;
        position: relative;

        .main-search-restore {
            cursor: pointer;
            display: none;
            font-size: 0.7rem;
            font-weight: bold;
            left: 0.8rem;
            outline: none !important;
            position: absolute;
            text-transform: uppercase;
            top: -1.35rem;
            transition: opacity 100ms ease-in, transform 100ms ease-in;

            &.disappear {
                opacity: 0;
                transform: translateY(1rem);
            }

            i {
                margin-left: 0.2rem;
            }
        }

        .main-search-input {
            @include focusable();

            background: $true-white;
            border-radius: $border-radius;
            box-shadow: 11px 0 0 (-10px) $gray-light;
            color: $black;
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            height: 2.7rem;
            padding: 0.5rem 0.8rem;

            br {
                display: none;
            }

            * {
                display: inline-block;
                white-space: nowrap;
            }

            .tag {
                margin-bottom: 0.3rem;
                pointer-events: none;
                word-break: break-all;
            }
        }

        .button-link {
            @include focusable();

            align-items: center;
            border-radius: $border-radius;
            color: $text-color-dark;
            cursor: pointer;
            display: flex;
            font-weight: bold;
            letter-spacing: 0.05rem;
            line-height: 1;
            padding: 0 0.7rem;
            text-transform: uppercase;
            transition: background 100ms ease-in-out;

            i {
                margin-left: 0.5rem;
            }

            &:hover {
                background: rgba($gray, 0.1);
            }
        }
    }

    &.main-search-restorable .main-search-input-container .main-search-restore {
        display: inline-block;
    }
}
