/*
    <header class="main-menu">
        <div class="row">
            <div class="main-menu-content">
                <a id="main-menu-logo"></a>
                <nav class="main-menu-nav">
                    <div class="main-menu-subnav-container">
                        <a class="main-menu-link"></a>
                        <nav class="main-menu-subnav">
                            <a class="main-menu-link"></a>
                            <a class="main-menu-link"></a>
                            ...
                        </nav>
                    </div>
                </nav>
                <div class="main-menu-nav user">
                    <div class="main-menu-subnav-container">
                        <a class="main-menu-link"></a>
                        <div class="avatar">
                            <img />
                        </div>
                        <nav class="main-menu-subnav">
                            <div class="main-menu-account-links">
                                <a class="main-menu-link"></a>
                                <a class="main-menu-link"></a>
                                ...
                            </div>
                            <div class="main-menu-block">
                                <div class="main-menu-register">
                                </div>
                                <div class="main-menu-login">
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="submenu" data-target="main-menu.submenu"></div>
            </div>
        </div>
    </header>

*/

$height: 3rem;

.main-menu {
    @include shadow-3();

    background: $white;
    border-top: 5px solid $gray-lighter;
    font-size: 1rem;
    margin: 0 -3rem;
    padding: 0 3rem;
    position: fixed;
    width: calc(100% + 6rem);
    z-index: $depth-3;

    .main-menu-link {
        @include focusable();

        color: $gray-dark;

        &:hover {
            color: $base-color;
        }
    }

    .main-menu-content {
        align-items: center;
        display: flex;
        height: $height;
    }

    #main-menu-logo {
        align-items: center;
        color: $true-white;
        display: flex;
        height: $height;
        text-transform: uppercase;

        img {
            margin: 0 0.5rem;
            max-height: 1.3rem;
        }

        h1 {
            color: $base-color;
            font-size: 1rem;
            letter-spacing: 0.025rem;
            margin: 0;
        }
    }

    .main-menu-nav {
        padding: 0 1rem;

        .main-menu-subnav-container {
            display: inline-block;
            position: relative;

            & > .main-menu-link {
                align-items: center;
                border-radius: $border-radius;
                display: flex;
                height: 3rem;
                margin: 0 0.25rem;
                padding: 0 0.25rem;
                text-transform: uppercase;
            }

            .main-menu-subnav {
                border-radius: $border-radius;
                height: 0;
                left: -1.5rem;
                opacity: 0;
                overflow: hidden;
                pointer-events: none;
                position: absolute;
                top: 100%;
                transition: opacity 100ms ease-in-out, height 0 linear 100ms;
                white-space: nowrap;
                z-index: $depth-2;
            }

            &:hover,
            &:focus-within {
                .main-menu-link {
                    color: $base-color;
                }

                .main-menu-subnav {
                    height: calc(11.5rem - 3px);
                    opacity: 1;
                    padding: 1rem 0;
                    pointer-events: all;
                    transition: opacity 100ms ease-in-out, height 0 linear;
                }
            }

            &:focus-within {
                .main-menu-link {
                    color: $base-color;
                }

                .main-menu-subnav {
                    height: calc(11.5rem - 3px);
                    opacity: 1;
                    padding: 1rem 0;
                    pointer-events: all;
                    transition: opacity 100ms ease-in-out, height 0 linear;
                }
            }

            .main-menu-subnav .main-menu-link {
                border-radius: 0.15rem;
                color: $gray-dark;
                display: block;
                font-size: 0.9rem;
                margin: 0 1rem;
                padding: 0.15rem 0.5rem 0.15rem 1rem;
                position: relative;

                &::before {
                    color: $base-color;
                    content: "\203A";
                    font-weight: 900;
                    left: 0.25rem;
                    opacity: 0;
                    position: absolute;
                    transition: opacity 70ms ease-in-out, left 70ms ease-in-out;
                }

                &:hover::before,
                &:focus::before {
                    left: 0.35rem;
                    opacity: 1;
                }

                &.main-menu-support {
                    i {
                        font-size: 0.75em;
                        margin-left: 0.25rem;
                    }
                }
            }
        }

        &.user {
            align-items: center;
            display: flex;
            height: 3rem;
            margin-left: auto;
            padding-right: 0.5rem;
            text-transform: none;

            .avatar {
                border-radius: 50%;
                display: inline-block;
                margin-left: 0.5rem;
                max-height: 2rem;
                max-width: 2rem;
                overflow: hidden;
                transition: box-shadow 70ms ease-in-out;
            }

            &:hover .avatar {
                box-shadow: 0 0 0 2px $base-color;
            }

            .main-menu-subnav-container .main-menu-subnav {
                background: $white;
                border-left: 1px solid $gray-lighter;
                border-right: 1px solid $gray-lighter;
                left: auto;
                padding: 1rem 1.5rem 1rem 2rem;
                right: 0;
                white-space: normal;

                .main-menu-block {
                    display: flex;
                    position: relative;
                    right: 0;
                    width: 24rem;
                }

                .main-menu-login,
                .main-menu-register {
                    display: flex;
                    flex-direction: column;
                    font-size: 0.8rem;
                    height: 9.5rem;
                    padding: 0 1rem;
                    width: 12rem;

                    .button-important {
                        margin-left: auto;
                        margin-top: auto;
                    }
                }

                .main-menu-register {
                    padding-left: 0;
                }

                .main-menu-login {
                    padding-right: 0;

                    .form {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        padding-bottom: 0;

                        .main-menu-block-content {
                            flex-grow: 1;
                        }
                    }
                }
            }

            .main-menu-subnav .main-menu-account-links {
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                position: relative;
                right: 0.35rem;

                .main-menu-link {
                    text-align: right;
                }
            }

            .main-menu-subnav-container {
                align-items: center;
                display: flex;
                height: 100%;
            }
        }
    }

    .submenu {
        @include shadow-3();

        background: $gray-lightest;
        height: 11.5rem;
        left: 0;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 100%;
        transition: opacity 100ms ease-in-out;
        width: 100%;
    }

    .submenu.active {
        border-bottom: 3px solid $base-color;
        opacity: 1;
    }

    &:focus-within .submenu {
        border-bottom: 3px solid $base-color;
        opacity: 1;
    }
}
