.news {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    &:last-child {
        border-bottom: none;
        margin: 0;
        padding: 0;
    }
}
