<span class="anchor" data-controller="anchor" data-target="anchor.name" data-name="<%= anchor %>">
    <a class="anchor-id" id="<%= anchor %>"></a>
    <%= yield %>
    <a href="#<%= anchor %>" class="anchor-link" data-action="click->anchor#copy">
        <i class="fa fa-link"></i>
    </a>
</span>
