@import "base/_variables";
@import "base/_extends";
@import "base/_colors";

.help {
    margin: 0;
    min-height: 350px;

    h2 {
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding: 5px;
    }

    ul {
        margin-top: 20px;

        li a {
            background: $white;
            border-radius: 3px;
            color: $gray4;
            display: block;
            font-weight: bold;
            margin: 0 0 10px;
            padding: 8px 10px 10px;
        }

        li a:hover {
            color: $pink;
        }
    }
}

.help_nav {
    background: $pink;
    box-shadow: 0 2px 6px rgba(0,0,0,.35);
    color: $white;

    h3, h2 {
        color:$white;
        display: inline-block;
        font-size: 1.2em;
        margin: 20px;
    }

    a {
        color: $white;
    }

    a:hover {
        color: $white;
    }
}

.help_page {
    ul {
        list-style: circle;
        margin-left: 30px;

        li {
            margin: 5px 0;
        }
    }
}
