<div class="help_nav">
    <h2>About <%= site_name %></h2>
</div>

<div class="help_page zone row">
    <h2 id="help">About us</h2>
    <p>
        <%= site_name %> is a safe for work image board/booru mainly made with Ruby on Rails and MongoDB. The source code is available and is licenced under Mozilla Public Licence 2.0.<br />
        It was developped by us, two IT students (@eternialz, @aruisehu) in France for fun and improving our knowledge. We hope you enjoy using <%= site_name %> ans participating in the community as much as we do.<br />
        Stay healthy guy; remember: llamas are evils incarnates and cookies are gods envoys.
    </p>
</div>
