<div class="help_nav">
    <h2>Privacy policies & Cookies</h2>
</div>

<div class="help_page zone row">
    <h2>Privacy Policies</h2>
    <p>
        At <%= site_name %> the privacy of our users informations is of extreme importance.

        We will not disclose any personal informations we collected (ip address, broswer language, time of connexion, ...) or personal data you transmitted in forms (email) to anyone except the staff members.
    </p>
</div>

<div class="help_page zone row">
    <h2>Cookies</h2>
    <p>
        <%= site_name %> use cookies and other technologies in order to store informations about our visitors preferences and customize pages content.<br />
        By default, moeverdose use cookies to manage your session and to keep you logged in on each pages.<br />
        <br />
        If you oppose the use of these technologies, you can configurate your browser in order to block them.<br />
        You should keep in mind that doing this will render almost all of <%= site_name %> services unusable.
    </p>
</div>
