
<div class="header-img">
</div>

<div class="zone">
  <h2>Moeverdose is still under construction. You will likely encounter bugs.</h2>

  <p>If you do, please report them in the chat</p>
</div>

<% if !@news.empty? %>
  <div class="zone news">
    <h2 class="small-title">NEWS</h2>
    <% @news.each do |n| %>
      <div class="new">
        <h3><%= n.title %></h3>
        <p><%= n.text %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="zone news">
    <p class=" small-title" style="float: none; text-align: center; margin: 10px;">No news</p>
  </div>
<% end %>
