<div class="help_nav">
    <h2>Mentions Légales <%= site_name %></h2>
</div>

<div class="help_page zone">
    <h2>Mentions Légales</h2>
    <p>Le site à été créer par Sébastien Erfani et Yohann Jolain</p>
    <h3>Editeur</h3>
    Erfani Sébastien<br />
    eternialz<%= fa_icon "at" %>live.fr<br />
    22 Route du Rhin, Illkirch-Graffenstaden 67400, France<br />
    <br />
    <h3>Hébergeur</h3>
    <p>
        OVH<br />
        SAS au capital de 10 069 020 €<br />
        RCS Roubaix - Tourcoing 424 761 419 00045<br />
        Code APE 2620Z<br />
        N° TVA : FR 22 424 761 419<br />
        Siège social : 2 rue Kellermann - 59100 Roubaix - France.<br />
        Directeur de la publication : Octave KLABA<br />
    </p>
</div>
