<div class="help_nav">
    <h2>Source</h2>
</div>

<div class="help_page zone">
    <h2>Source code</h2>
    <a class="btn btn-pink" href="https://github.com/eternialz/moeverdose" target="_blank">Github project<%= fa_icon "github" %></a>
    <p>We hope you will use what we created for fun and with goodwill.</p>
    <br />
    <h2>Licence</h2>
    <p>The source code is released under the Mozilla Public Licence 2.0 .<br />
    The licence file is included in the github project.</p>
</div>
