<div class="help_nav">
    <h2>Team</h2>
</div>

<div class="help_page zone row">
    <h2>Eternialz</h2>
    <p>IT Student, developer of Moevedose. Mainly skilled in front-end and stupid questions.</p>
</div>

<div class="help_page zone row">
    <h2>Aruisehu</h2>
    <p>IT Student, developer of Moevedose. Skilled in back-end and super lames jokes.</p>
</div>

<div class="help_page zone row">
    <h2>Armashan</h2>
    <p>IT Student. Gave us the idea to make <%= site_name %>.</p>
</div>
