<div class="help_page zone row">
    <h2>Terms of Service</h2>
    By accessing the Moeverdose website you accept the following Terms of Service.<br />
    From that point onwards, Moeverodse will treat your use of the Site as acceptance of the following Terms.

    <ul>
        <li>The site reserves the right to change these terms at any time.</li>
        <li>You must be 16 years old or older in order to use this website.</li>
        <li>The Site is presented to you AS IS, without any warranty, express or implied. You will not hold the site or its staff members liable for damages caused by the use of the site.</li>
        <li>The Site reserves the right to delete or modify your moeverdose account, or any content you have posted to the site.</li>
        <li>You understand that there may be content on the Site that does not appeal to you or you feel is morally wrong.</li>
        <li>You accept that the Site is not liable for any content that you may stumble upon.</li>
        <li>You are using this site only for personal use.</li>
        <li>You will not use any automated process to retrieve or index any portion of the site or site contents, with the exception of public search engines or web archives.</li>
        <li>The operators of the site are not entirely held to these terms.</li>
    </ul>

    <h2>Prohibited Content</h2>
    In addition, you may not use the Site to upload any of the following:

    <ul>
        <li>NSFW (Not Safe for work) media are prohibited. No pornographic content, total nudity or extremely graphic (violent/gore) content are allowed.</li>
        <li>Pornography: Any photograph or photorealistic drawing or movie that depicts peoples in a sexual manner. This includes nudity, explicit sex, implied sex, or sexually persuasive positions.</li>
        <li>Child pornography: Any photograph or photorealistic drawing or movie that depicts children in a sexual manner. This includes nudity, explicit sex, implied sex, or sexually persuasive positions.</li>
        <li>Non-anime: This site is only for Anime, with the exception of cosplay.</li>
        <li>Non-anime styled 3D: Any 3D material that doesn't look anime.</li>
        <li>Watermarked: Any image where a person who is not the original copyright owner has placed a watermark on the image.</li>
        <li>Poorly compressed: Any image where compression artifacts are easily visible.</li>
    </ul>
    <br />
    <p><strong>This list is non-exhaustive, if a staff member judge your content to be inappropriate, the content will be deleted without notice or compensation.</strong></p><br />

    <p></p>
    <h2>Agreement</h2>
    If you do not agree to the terms above, you must <a href="google.com">leave now</a>.
</div>
