<div class="zone t -center">
    <h1 class="subtitle"><i class="fa fa-heart-broken"></i> Error 500</h1>
    <p>It seems an error has occured on our end and we are unable to process your request.</p>
</div>
