<% if flash.any? %>
    <div class="row flashes">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
    </div>
<% end %>

<div class="notifications-overlay">
    <div class="notifications-container" id="notification-container" data-controller="notification">

    </div>
</div>
