<div class="row posts-index">
  <% 36.times do %>
    <div class="post-thumbnail">
      <img src="<%= image_url('post-default.jpg') %>" border="0" height="200px" width="200px"/>
      <a class="informations">
        <h3>Titresssssssssssssssssssssssssssssssssssssssssssssss</h3>
        <span class="post-stats">
          <span>666 <%= fa_icon "heart" %></span>
          <span>404 <%= fa_icon "eye" %></span>
        </span>
      </a>
    </div>
  <% end %>
</div>
