<form class="upload">
  <div id="file_upload">
    <label for="file_input" id="label_file_input">Click here to upload image</label>
    <input id="file_input" class="hide" type="file" name="image" accept="image/*">
    <div id="post_image"><p>waiting for image...</p></div>
  </div>
  <div id="info_upload">
    <div class="tags">
      <h3>Tags<span>required (at least three)</span></h3>
      <textarea placeholder='Tags ("1girl glasses")'></textarea>
    </div>
    <div class="characters">
      <h3>Character(s)</h3>
      <textarea placeholder='Characters ("illyasviel_von_einzbern")'></textarea>
    </div>
    <div class="authors">
      <h3>Author<span>required</span></h3>
      <input type="text" name="author" placeholder='Author ("hayao_miyazaki")'></textarea>
    </div>
  </div>
</form>
