<div class="zone">
    <h4 class="title">
        <%= component "anchor", {anchor: "editing"} do %>
            Discord server
        <% end %>
    </h4>
    <div class="columns">
        <div class="col col-6 col-12-small padding padding-right">
            <p class="p-lead"><%= site_name %> use a third party chat software called Discord; you may join the chat at any moment using the url provided in the header under "comunity".
            If you need help using Discord, you may find informations on the official <a href="https://support.discordapp.com/" target="_blank">Discord support website</a>. Chat rules are established in Discord itself and may be changed at any time.</p>
        </div>
        <div class="col col-6 col-12-small">
            <iframe src="https://discordapp.com/widget?id=163371003366342657&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
        </div>
    </div>
</div>
