<div class="zone admin_toolbar">
    <div class="col-12">
        <h2>Adminstration</h2>
        <a class="btn btn-red" href="<%= admin_user_ban_path(model)%>" data-method="patch">Ban User</a>
    </div>
</div>
