@import "base/_variables";
@import "base/_extends";
@import "base/_colors";
@import "base/_base";


.userprofile {
    .username {
        color: $gray4;
        display: inline-block;
        font-size: 1.5em;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        margin-top: 10px;
    }

    .user_header {
        background: url($header-image) no-repeat center center;
        background-size: cover;
        box-shadow: 0 2px 6px rgba($black, .35), inset 0 -200px 100px -100px rgba(0,0,0,.75);
        height: 300px;
        padding: 20px;
        position: relative;

        .icon {
            color: $white;
            float: right;
            font-size: 1.5em;
            padding: 10px;
            text-shadow: 0 1px 2px $black;
        }

        .avatar {
            border-radius: 3px;
            bottom: 20px;
            box-shadow: 0 2px 6px rgba(0,0,0,.35);
            background: $white;
            left: 20px;
            position: absolute;
            z-index: 100;
        }

        .role {
            background: $white;
            border-radius: 3px;
            bottom: 85px;
            box-shadow: 0 2px 6px rgba(0,0,0,.35);
            font-size: 1.2em;
            font-weight: bold;
            padding: 4px 15px 8px;
            position: absolute;
            right: 20px;
        }

        .user_banner {
            background: rgba(255, 255, 255, 0.7);
            bottom: 0;
            height: 66px;
            left: 0;
            margin: 0;
            padding: 0 0 0 160px;
            position: absolute;
            width: 100%;


            .btn {
                float: right;
                margin: 16px;
                width: auto;
            }
        }

        @media only screen and (max-width: $xsmall) {
            .avatar {
                height: 60px;
                width: 60px;
            }

            .user_banner {
                padding-left: 100px;
            }

            .role {
                display: none;
            }
        }
    }
}
