.user_posts {
    h6 {
        line-height: 44px;
        display: inline-block;
        margin: 0;
    }

    .favorites, .uploads {
        width: calc(50% - 30px);
        margin: 15px;
        border-radius: 3px;
        background: $gray4;
    }

    a {
        float: right;
    }
}
