<div class="keyboard-help">
    <h6 class="title title-compact">Keyboard shortcuts</h6>
    <div class="columns">
        <div class="col col-6 col-12-small padding">
            <h6 class="subtitle subtitle-compact">Global shortcuts</h6>
            <ul class="list list-spaced">
                <li>
                    <span class="key">
                        H
                    </span>
                    Toggle keyboard help screen
                </li>
                <li>
                    <span class="key">
                        T
                    </span>
                    Toggle search bar
                </li>
                <li>
                    <span class="key">
                        R
                    </span>
                    Random post
                </li>
            </ul>
        </div>
        <div class="col col-6 col-12-small padding">
            <h6 class="subtitle subtitle-compact">Post shortcuts</h6>
            <ul class="list list-spaced">
                <li>
                    <span class="key">
                        <i class="fa fa-arrow-left"></i>
                    </span>
                    <span class="key">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    navigate between posts
                </li>
                <li>
                    <span class="key">
                        F
                    </span>
                    Add/Remove favorite
                </li>
                <li>
                    <span class="key">
                        O
                    </span>
                    Add/Remove overdose
                </li>
                <li>
                    <span class="key">
                        S
                    </span>
                    Add/Remove shortage
                </li>
                <li>
                    <span class="key">
                        E
                    </span>
                    Edit post
                </li>
                <li>
                    <span class="key">
                        L
                    </span>
                    Toggle lightbox
                </li>
                <li>
                    <span class="key">
                        C
                    </span>
                    Focus in comment form
                </li>
            </ul>
        </div>
    </div>
</div>
