<div class="search-form search-home clearfix">
    <form method="get" action="<%= posts_path %>" id="search">
        <input id="tags" type="text" name="query" placeholder="Search by tags separated by spaces" value="<%= params[:query] %>"/>
        <button type="submit" form="search" value="Submit"><%= fa_icon "search" %></button>
    </form>
</div>
