<div class="col col-6 col-8-medium col-12-small col-centered">
    <h2 class="title title-compact"><%= @new.title %></h2>
    <h6><%= @new.created_at.strftime("%Y/%m/%d") %></h6>
    <p class="p-lead">
        <%= @new.text %>
    </p>
</div>
