<div class="hide" id="cookies_disclaimer">
    <%= fa_icon "close" %>
    <p>We use cookies to make <%= site_name %> work. By continuing you are agreeing to their uses. <a href="/pages/cookies">Read more here</a></p>
</div>
