<div class="submenu">
  <ul>
    <h3><a>Posts</a></h3>
    <li><a>All Posts</a></li>
    <li><a>Upload</a></li>
    <li><a>Best Posts</a></li>
  </ul>
  <ul>
    <h3><a>Authors</a></h3>
    <li><a>All Authors</a></li>
    <li><a>Add an Author</a></li>
    <li><a>Best Authors</a></li>
  </ul>
  <ul>
    <h3><a>Users</a></h3>
    <li><a>All Users</a></li>
    <li><a>Leaderboard</a></li>
    <li><a>Comments</a></li>
  </ul>
  <ul>
    <h3><a>Help</a></h3>
    <li><a>Posts</a></li>
    <li><a>Chat</a></li>
  </ul>
  <ul>
    <h3><a>Moeverdose</a></h3>
    <li><a>About</a></li>
    <li><a>Team</a></li>
    <li><a>Stats</a></li>
  </ul>
  <ul style="float:right;background:#333;margin-right:0;padding-left:10px;">
    <h3><a>My Account</a></h3>
    <li><a>Profile</a></li>
    <li><a>Options</a></li>
    <li><a>Favorites</a></li>
    <li><a>Join Chat</a></li>
    <li><a>Log Out</a></li>
  </ul>
</div>
