<div class="container">
  <a href="<%= root_path %>"><h1>moeverdose.moe</h1></a>
  <ul>
    <span>An image booru made with love!</span>
    <li><a>test</a></li>
    <li><a>test</a></li>
    <li><a>test</a></li>
  </ul>
</div>
