<footer class="footer">
    <div class="row">
        <div class="col-6">
            <h3 class="footer-title">Links</h3>
            <ul class="col-6">
                <li><a>home</a></li>
                <li><a>posts</a></li>
                <li><a>users</a></li>
                <li><a>help</a></li>
                <li><a>team</a></li>
            </ul>
            <ul class="col-6">
                <li><a>home</a></li>
                <li><a>posts</a></li>
                <li><a>users</a></li>
                <li><a>help</a></li>
                <li><a>team</a></li>
            </ul>
        </div>

        <div class="col-6">
            <h3 class="footer-title">Friends of moeverdose</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone Forever Alone.</p>
        </div>

    </div>
    <div class="row center">
        <p class="center copyright">© 2016 Moeverdose - <a href="/pages/tos">Terms of Services</a> - <a href="/pages/legal">Mentions Légales</a></p>
    </div>
</footer>
